/*
	CSS for a menu with light colors.
*/

/*
	Menu, submenus, items
	- Styling (light background)
*/
.mm-menu {
  background: #f6f6f6;
}

.mm-menu * {
  text-shadow: none;
}

.mm-menu li {
  border-bottom-color: rgb(255 255 255 / 70%);
}

.mm-menu li::after {
  border-bottom-color: rgb(0 0 0 / 10%);
}

.mm-menu li,
.mm-menu li > a,
.mm-menu li > a:hover,
.mm-menu li > span {
  color: rgb(0 0 0 / 50%);
  text-decoration: none;
}

.mm-menu li.mm-selected > a,
.mm-menu li.mm-selected > span {
  background: rgb(255 255 255 / 60%);
}

/* subopen/close */
.mm-menu a.mm-subopen {
  border-left-color: rgb(255 255 255 / 70%);
}

.mm-menu a.mm-subopen::before {
  border-left-color: rgb(0 0 0 / 10%);
}

.mm-menu a.mm-subclose {
  background: rgb(255 255 255 / 60%);
}

/* vertical submenu */
.mm-menu.mm-vertical li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical li.mm-opened > ul {
  background: rgb(0 0 0 / 5%);
}

/* page + blocker */
html.mm-opened .mm-page {
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
}

/*
	Labels
	- Styling
*/
.mm-menu li.mm-label {
  background: rgb(0 0 0 / 5%);
  color: rgb(0 0 0 / 40%);
}

/*
	Counters
	- Styling
*/
.mm-menu em.mm-counter {
  background: rgb(0 0 0 / 20%);
  box-shadow: none;
  color: rgb(255 255 255 / 80%);
}

/*
	Arrows
	- Styling
*/
.mm-menu a.mm-subopen::after,
.mm-menu a.mm-subclose::before {
  border-color: rgb(0 0 0 / 20%);
}

/*
	Search
	- Styling
*/
.mm-menu div.mm-search {
  background: rgb(0 0 0 / 20%);
  border-bottom-color: rgb(0 0 0 / 10%);
}

.mm-menu div.mm-search input {
  background: rgb(255 255 255 / 80%);
  border: none;
  color: rgb(0 0 0 / 70%);
}

.mm-menu li.mm-noresults {
  color: rgb(0 0 0 / 50%);
}
