<section id="slider" class=" slider-parallax full-screen with-header clearfix slider-parallax-visible">

    <div class=" slider-parallax-inner">

        <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden">

            <div class="container center">
                <div class="vertical-middle">

                    <div class="emphasis-title">

                        <h1>
                            <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
										<span class="t-100 t-rotate primary-font opm-large-word">data|design|development</span>
                            </span>
                        </h1>

                    </div>





                    <a href="#" data-scrollto="#section-projects" data-offset="70" class="button button--8 button-border button-light button-rounded">see work</a>

                </div>
            </div>

            <div class="video-wrap">

                <canvas id="waves" class="waves"></canvas>

            </div>

            <a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

        </div>
    </div>

</section>
<!-- #slider end -->


<!-- Header
		============================================= -->
<header id="header" class="transparent-header semi-transparent dark full-menu clear">

    <div id="header-wrap">

        <div class=" clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo" style="margin-top: 10px">
                <a href="#" data-scrollto="#wrapper" title="home">
                    <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="50px" viewBox="0 0 1269.104 1269.286" enable-background="new 0 0 1269.104 1269.286" xml:space="preserve">
                      <polygon fill="#fff" points="795.388,562.182 758.452,733.937 634.714,793.036 634.714,793.122 510.977,734.024 474.04,562.268
                        6.792,290.785 88.053,438.531 431.563,619.52 474.04,772.807 634.714,844.833 634.714,844.747 795.388,772.721 837.866,619.434
                        1181.376,438.444 1262.636,290.698 "/>
                      <polygon fill="#fff" points="840.477,697.21 1100.88,593.787 1161.825,476.575 855.252,636.264 "/>
                      <polygon fill="#fff" points="827.492,760.68 1040.346,709.892 1088.969,620.296 837.808,719.743 "/>
                      <polygon fill="#fff" points="414.177,636.351 107.603,476.661 168.549,593.874 428.952,697.296 "/>
                      <polygon fill="#fff" points="180.459,620.382 229.083,709.979 441.937,760.767 431.621,719.826 "/>
                      </svg>
                </a>
            </div>

            <!-- Primary Navigation
					============================================= -->
            <nav id="primary-menu" class="style-1 center">

                <ul class="one-page-menu">
                    <li>
                        <a href="#" data-href="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="100">
                            <div>About Me</div>
                        </a>
                    </li>

                    <li>
                        <a href="#" data-href="#section-projects" data-easing="easeInOutExpo" data-speed="1250" data-offset="60">
                            <div>Work</div>
                        </a>
                    </li>

                    <li class="">
                        <a href="#" data-href="#section-what" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
                            <div>Hire Me</div>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- #primary-menu end -->

        </div>

    </div>

</header>
<!-- #header end -->




<!-- Content
		============================================= -->
<section id="content" class="darker">

    <!--aside class="sidebar sticky-sidebar-wrap nobottommargin clearfix">
        <div class="sidebar-widgets-wrap">
            <div class="sticky-sidebar">

                <h2></h2>
                <div class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i> Side Panel</a></div>
            </div>
        </div>
    </aside-->

    <div class="content-wrap nopadding darker">
        <div class=" section nomargin paddingtop">
            <div class="container clearfix">
                <div id="section-about" class="divcenter center"><img src="images/profile-pic.png" width="150px" class="img-portrait img-circle img-thumbnail">
                    <h2 class=" t300 ls1">Hi, my name is Angel</h2>
                    <p class="lead divcenter bottommargin">I am a cross-disciplinary designer, developer and director with over 20 years creating consumer and enterprise experiences across most platforms and devices.</p>
                    <p class=" justified">From design agencies like Fantasy Interactive and Level Studios to start ups like CloudOn, Vevo and Unity as well as large enterprises like Microsoft and Oracle - I have been able to implement and nurture design as both process and
                        culture successfully through a holistic design approach. One that allows for casual cross team facilitation and incorporates engineering early in the design process for rapid prototyping, testing and refactoring iterations throughout
                        the exploratory, generative and evaluative sprints. I specialize across the following product design sub disciplines - <b>User Research</b>, <b>Information Architecture</b>, <b>Interaction Design</b>, <b>Visual/UI Design</b> and
                        <b>Front End Development</b> and have a background in <b>Psychology</b> and <b>Anthropology</b>.</p>


                </div>
            </div>
        </div>









        <div id="section-projects" class="darker section notoppadding nobottompadding nobottommargin notopmargin">
            <div class=" center topmargin bottommargin fancy-title title-border container clearfix">
                <h3 class=" fancy-heading">Work</h3>
            </div>
            <div id="portfolio-ajax-wrap">
                <div id="portfolio-ajax-container"></div>
            </div>

            <div id="portfolio-ajax-loader"><img src="../images/preloader.gif" alt="Preloader"></div>



            <!-- Portfolio Items
					============================================= -->
            <div id="portfolio" class="grid  portfolio portfolio-ajax grid-container portfolio-nomargin notoppadding nobottompadding nobottommargin  portfolio-masonry mixed-masonry clearfix">




                <figure id="portfolio-item-1" class=" portfolio-item effect-slide-up-caption dark nobottommargin" data-loader="views/projects/inline-unity.html">
                    <div class="portfolio-image">

                        <img src="images/projects/unity/unity-full.png" alt="Open Imagination" />

                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>



                            <h3>Unity</h3>
                            <p>Building a design practice and increasing retention</p>



                        </div>

                    </div>


                </figure>


                <figure id="portfolio-item-2" class="effect-slide-up-caption dark portfolio-item nobottommargin" data-loader="views/projects/inline-mozilla.html">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/mozilla/coral-full.png" alt="Open Imagination" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>



                            <h3>The Coral Project</h3>
                            <p>Building better communities in journalism</p>


                        </div>
                    </div>

                </figure>

                <figure id="portfolio-item-3" data-loader="views/projects/inline-vevo.html" class="portfolio-item  effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/vevo/vevo-full-2.png" alt="Vevo">
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>Onboarding</h3>
                            <p>IA refactor around retention and recomendations</p>


                        </div>
                    </div>
                </figure>

                <figure id="portfolio-item-4" data-loader="views/projects/inline-gps.html" class="portfolio-item effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/fi/gps-full-2.png" alt="Google Partner Services" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>Google Material Redesign</h3>
                            <p> Early Material Design implementation</p>

                        </div>
                    </div>
                </figure>

                <figure id="portfolio-item-5" data-loader="views/projects/inline-cloudon.html" class="portfolio-item effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/cloudon/cloudon-full.png" alt="CloudOn" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>CloudOn</h3>
                            <p>Mobile MS Office Productivity Suite</p>


                        </div>
                    </div>
                </figure>

                <figure id="portfolio-item-6" data-loader="views/projects/inline-onems.html" class="portfolio-item effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/onems/onems-full.jpg" alt="One Microsoft" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>Microsoft</h3>
                            <p>One Microsoft Visual Alignment</p>


                        </div>
                    </div>
                </figure>

                <figure id="portfolio-item-7" data-loader="views/projects/inline-msw.html" class="portfolio-item effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/msw/msw-full-2.png" alt="MSW Redesign" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>Microsoft</h3>
                            <p>MSW Redesign</p>

                        </div>
                    </div>
                </figure>


                <figure id="portfolio-item-8" data-loader="views/projects/inline-microtalk.html" class="portfolio-item effect-slide-up-caption dark nobottommargin">
                    <div class="portfolio-image">
                        <a href="portfolio-single.html">
                            <img src="images/projects/ngi/ms-full.jpg" alt="NGI" />
                        </a>
                        <div class="portfolio-overlay">
                            <a href="#" class="center-icon"></a>


                            <h3>Microsoft</h3>
                            <p>Next Generation Intranet</p>

                        </div>
                    </div>
                </figure>









            </div>
            <!-- #portfolio end -->




        </div>



        <div id="section-what" class="darker section center page-section notopmargin nobottommargin">

            <div class="container clearfix">



                <div class="row notoppadding divcenter">

                    <div class="">
                        <div class="col-lg-12 fancy-title title-border bottommargin">
                            <h3 class="fancy-heading">Hire Me</h3>
                        </div>
                        <p class="bottommargin">I am currently available for consultation at a rate of $150 per hour.</p>

                        <div class="col-lg-6 topmargin bottommargin">
                            <h4 class="">Design Strategy</h4>
                            <p class="justified">I can help you determine what type of design strategy, processes, tactics or resources are a fit for your particular culture, organization and goals.</p>
                        </div>
                        <div class="col-lg-6 bottommargin topmargin">
                            <h4 class="">Design Recruiting</h4>

                            <p class="justified">Let me know your goals and I can help you find and hire the right skills for your team.
                            </p>
                        </div>
                        <div class="clear"></div>


                        <div class="col-lg-6 bottommargin">
                            <h4 class="">User Research</h4>
                            <p class="justified">I employ qualitative and quantitative user research methods to create hypotheses and collect data that will be analyzed, synthesized, modeled and validated in order to identify and evaluate users and their respective motivations
                                and obstacles throughout the generative and evaluative phases of the design process. The creation of user/job stories, task analyses, flows, models and prototypes help facilitate the collaboration needed to achieve a thorough
                                UX strategy that meets business goals and user needs alike through constant qualitative validation with our users.</p>
                        </div>
                        <div class="col-lg-6 bottommargin ">
                            <h4 class="">Information Architecture</h4>

                            <p class="justified">I map out, catalogue and define site, page and content types while rationalizing navigation and terminology in order to create a meaningful taxonomy for the users of that system. In doing so, I create content object models,
                                ontologies, site maps, flows, schemas, microformat specifications, and meta data tools that help ensure that the underlying content is searchable, findable, temporal and reusable across the system.

                            </p>
                        </div>
                        <div class="clear"></div>
                        <div class="col-lg-6 bottommargin ">
                            <h4 class="">Interaction Design</h4>
                            <p class="justified">
                                In order to organize the information structure and tasks into meaningful flows I utilize mockups, wireframes, comps, flows, maps, prototypes, pattern libraries, motion studies, and interaction models in order to implement the UX strategy by providing
                                low to high fidelity assets that can be used to assess usability, user flow, idiomatic, cognitive and procedural issues in front of users as quickly as possible in order to iterate on findings as they arise in an Agile
                                manner.
                            </p>

                        </div>

                        <div class="col-lg-6 bottommargin">
                            <h4 class="">Front End Development</h4>
                            <p class="justified">As a Front End Developer I utilize HTML5, CSS 3, and various JS frameworks like Angular and SASS or whatever other tools are needed to achieve rapid prototyping goals while also ensuring that the front end code is semantic,
                                quick, responsive and pixel perfect before any testing or hand off to development.
                            </p>
                        </div>

                    </div>





                </div>

                <div class="si-share  clearfix">
                    <span class="si-label">Get in touch</span>
                    <div>


                        <a href="https://www.linkedin.com/in/angelcolberg/" class="social-icon si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                        <a href="https://dribbble.com/angelcolberg" class="social-icon si-borderless si-dribbble">
                            <i class="icon-dribbble"></i>
                            <i class="icon-dribbble"></i>
                        </a>
                        <a href="https://github.com/angelcolberg" class="social-icon si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>
                        <a href="https://twitter.com/angelcolberg" class="social-icon si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="https://www.pinterest.com/angelcolberg/" class="social-icon si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/+AngelColberg" class="social-icon si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="https://www.soundcloud.com/angelcolberg/" class="social-icon si-borderless si-soundcloud">
                            <i class="icon-soundcloud"></i>
                            <i class="icon-soundcloud"></i>
                        </a>

                    </div>
                </div>




            </div>
        </div>






</section>
<!-- #content end -->

<!-- Footer
		============================================= -->
<footer id="footer" class="darkest  nomargin">

    <div class="hide container center">
        <div class="footer-widgets-wrap">

            <div class="row divcenter clearfix">

                <div class="col-md-4">



                </div>

                <div class="col-md-4">


                </div>

                <div class="col-md-4">



                </div>

            </div>

        </div>
    </div>

    <div id="copyrights">
        <div class="container center clearfix">
            Copyright &copy; 2017 Angel Colberg | All Rights Reserved


        </div>
    </div>

</footer>
<!-- #footer end -->

</div>
<!-- #wrapper end -->