<div id="theGrid" class="main">

    <section class="grid">

        <a class="grid__item" href="#">
            <h2 class="title title--preview">Google Partner Search</h2>
            <div class="loader"></div>
            <span class="category">Fantasy Interactive</span>
            <div class="meta meta--preview">
                <img class="meta__avatar" src="img/fi-logo.png" alt="Fantasy Interactive" />


            </div>
        </a>
        <a class="grid__item" href="#">
            <h2 class="title title--preview">CloudOn Collaboration Apps</h2>
            <div class="loader"></div>
            <span class="category">CloudOn</span>
            <div class="meta meta--preview">
                <img class="meta__avatar" src="img/cloudon-logo.png" alt="CloudOn" />

            </div>
        </a>
        <a class="grid__item" href="#">
            <h2 class="title title--preview">One Microsoft Visual Identity</h2>
            <div class="loader"></div>
            <span class="category">Microsoft</span>
            <div class="meta meta--preview">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />

            </div>
        </a>

        <a class="grid__item" href="#">
            <h2 class="title title--preview">MSW Redesign</h2>
            <div class="loader"></div>
            <span class="category">Microsoft</span>
            <div class="meta meta--preview">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />

            </div>
        </a>

        <a class="grid__item" href="#">
            <h2 class="title title--preview">Social Enterprise at Microsoft</h2>
            <div class="loader"></div>
            <span class="category">Microsoft</span>
            <div class="meta meta--preview">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />

            </div>
        </a>


    </section>

    <section class="content">
        <div class="scroll-wrap">
            <article class="content__item">
                <img class="meta__avatar" src="img/fi-logo.png" alt="Fantasy Interactive" />

                <!--span class="category category--full">Fantasy Interactive</span-->
                <h2 class="title title--full">Google Partner Search</h2>
                <div class="meta meta--full">

                    <span class="meta__author">Interaction Design, Prototyping</span>


                </div>
                <div class="portfolio-carousel" id="portfolio-msit">

                    <div class="portfolio-item">

                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_17.png">
                            <div class="asset"><img alt="Fantasy Interactive" src="/fall-13/portfolio/gps-visualdesign_Page_02.png" />
                            </div>
                        </a>
                        <h3>Methods</h3>
                        <ul class="tools">
                            <li>Wireframing</li>
                            <li>Flows</li>
                            <li>Mockups</li>
                            <li>Prototyping</li>

                        </ul>
                        <div class="details">
                            <h2>Material Design</h2>

                            <div class="description">
                                I was working at a design firm in SF called Fantasy Interactive that was tasked with rethinking the Google Partners site in Material Design. This was the first time I had ever heard of Material Design and was lucky enough to play around with it on this
                                project before it was introduced later that year at I/O.
                            </div>


                        </div>
                    </div>



                    <div class="portfolio-item">
                        <h2>Simplified User Flow</h2>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_03.png" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Task Based Flows</h3>
                            <div class="description">
                                In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Scoped Results</h2>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_10.png" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>More distinct visual hierarchy</h3>
                            <div class="description">
                                Compared to previous version, the SERP pattern here is uncluttered and was well received after UA validation.
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Details</h2>

                        <h3>Detail View</h3>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_13.png" />
                            </div>
                        </a>

                        <div class="details">

                            <h3>Informational and actionable</h3>
                            <div class="description">
                                All information at glance on this page is meant to help make a decision on which partner to pursue.
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-item">
                        <h2>Alternate Versions</h2>
                        <h3>Company Page Header 1</h3>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_18.png" />
                            </div>
                        </a>
                        <h3>Company Page Header 2</h3>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_19.png" />
                            </div>
                        </a>
                        <h3>Company Page Header 3</h3>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/gps-visualdesign_Page_03.png">
                            <div class="asset"><img src="/fall-13/portfolio/gps-visualdesign_Page_20.png" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Sample Variations</h3>
                            <div class="description">
                                <a href="http://angelcolberg.com/clients/fi/gps/prototype/" target="_blank">Here is a link to an HTML prototype for this project.</a>

                            </div>

                        </div>
                    </div>
                </div>
            </article>
            <article class="content__item">
                <img class="meta__avatar" src="img/cloudon-logo.png" alt="CloudOn" />
                <!--span class="category category--full">CloudOn</span-->
                <h2 class="title title--full">Mobile Collaboration and Productivity</h2>
                <div class="meta meta--full">

                    <span class="meta__author">UX Research, Design and Development</span>

                </div>

                <div class="portfolio-item">

                    <a class="portfolio-img-link" href="../img/3d-ux-assets-template-CO-1a.jpg">
                        <div class="asset header-img"><img alt="CloudOn Product Design" src="../img/3d-ux-assets-template-CO-1a.jpg" />
                        </div>
                    </a>
                    <div class="details">
                        <h2>Redesigning a tablet application across all devices </h2>
                        <h3>Methods</h3>
                        <ul class="tools">
                            <li>User interviews</li>
                            <li>User Stories</li>
                            <li>Task Analysis</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Mental modeling</li>
                            <li>Personas</li>

                            <li>Journey Map</li>
                            <li>HTML/JS Prototyping</li>
                            <li>RITE</li>
                            <li>Usability testing</li>
                            <li>A/B Testing</li>
                        </ul>
                        <div class="description">

                            As the Product Design Lead it was my primary responsibility to set up a more user centric design process and build a team in order to start tackling a major redesign of our tablet application across all devices.
                            <br/> Initially, we needed to start creating task and UI analysis of the current features and map those to their user stories. Once we managed to articulate our current processes and features we were able to start measuring
                            and modelling them with various qualitative data points on hand. This gave us a good place from where we could start asking the right questions and in turn start bringing in users for testing and interviews.
                            <br/> I decided to take a mobile first approach in order to focus our features and streamline our flows on our tablet device by constraining ourselves to both the device and rigid attention to feature validation by the users.
                            We immediately noticed that we had huge navigational and cognitive issues that required restructuring our navigation model to something like a drill down pattern based on multiple findings from usability tests, interviews and
                            contextual inquiries done with various prototypes.
                        </div>


                    </div>
                </div>
                <div class="portfolio-item">
                    <h2>Personas</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/co-mental-persona.png">
                        <div class="asset"><img alt="Adding Archetypes to Personas" src="../fall-13/portfolio/co-mental-persona.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Adding Archetypes to Personas</h3>
                        <div class="description">
                            In order to be able to determine some of the personality traits and motivations of our users we created personas and mapped them to Jung's archetypes according to their shared personality traits. This way we were able to better ascertain a persona's aspirational
                            values and motivators in using our application or device at particular times of the day while in various contexts.
                        </div>



                    </div>
                </div>
                <div class="portfolio-item">
                    <h2>Nav Model Redesign</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/global-nav-new-drilldown-iPad.png">
                        <div class="asset"><img alt="Slide15" src="../fall-13/portfolio/global-nav-new-drilldown-iPad.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3></h3>
                        <div class="description">
                            Findings through RITE gave us immediate visibility around the navigational challenges facing the users. At this point we started looking at other patterns that would be consistently effective across all device modalities and we found the drill down pattern
                            struck a chord with our users in initial walk throughs. At this point we worked our way up from the smartphone, to the tablet and finally to the web app through responsive prototypes that we used for validations at each step.
                        </div>



                    </div>
                </div>


                <div class="portfolio-item">
                    <h2>Cross Device Consistency</h2>
                    <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/swimlanes.png">
                        <div class="asset"><img alt="swimlanes" src="../wp-content/uploads/2013/10/swimlanes.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Maintaining cross device consistency</h3>
                        <div class="description">
                            Cross device consistency was attained through the creation of parallel flows covering all entry points, in flows, out flows and respecting device specific idioms across scenarios with the help of personas and validated with prototypes in multi device
                            testing scenarios. These were done remotely and contextually.
                        </div>



                    </div>
                </div>




                <div class="portfolio-item">
                    <h2>People Space</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/People-Spaces.png">
                        <div class="asset"><img alt="People Space" src="../fall-13/portfolio/People-Spaces.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Adding Collaboration</h3>
                        <div class="description">
                            Visualizing future feature areas was another concern early on that we approached through wireframes and cognitive walkthroughs before then diving in with html/js prototypes that we could then use for evaluation and testing. Through our content object
                            models, we already knew that we were going to need three distinct modalities for collaboration and production to take place, so we planned early on by experimenting with people, file and work space idioms.
                        </div>


                    </div>
                </div>

                <div class="portfolio-item">
                    <h2>Quality of Experience</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/flow-share-over-quota-shared-owner.png">
                        <div class="asset"><img alt="Error flow" src="../fall-13/portfolio/flow-share-over-quota-shared-owner.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Error flow</h3>
                        <div class="description">
                            Quality was also a very critical area for us as we provided a virtualization and document management service to our users through their data providers which led to a multitude of scenarios we had to account for. From connectivity issues to cognitive temporal
                            issues, these scenarios required us to determine intent as accurately as possible and then respond with the correct affect through our voice and tone guidelines work that came out of our personas.
                        </div>


                    </div>
                </div>


                <div class="portfolio-item">
                    <h2>Prototyping New Features</h2>
                    <a class="portfolio-img-link" href="../wp-content/uploads/2013/11/iphone-hifi-notifications.png">
                        <div class="asset"><img src="../wp-content/uploads/2013/11/iphone-hifi-notifications.png" alt="iphone-hifi-notifications" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Notifications Mockup and Prototype</h3>
                        <div class="description">
                            As we started adding more features across devices we found that prototyping them in html/js was the best way to experiment, test and communicate a particular interaction model and its rulesets.
                        </div>


                    </div>
                </div>
                <div class="portfolio-item">
                    <h2>CloudOn Web</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/cloudon-web-3.png">
                        <div class="asset"><img src="../fall-13/portfolio/cloudon-web-3.png" alt="CloudOn Web" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Closing the loop with Web</h3>
                        <div class="description">
                            In order to have a friction less experience for our users across all devices we had to ensure that a desktop and mobile web existed so that non logged in users working on desktop could also work with those using our app. This was one of our main growth
                            strategies as we wanted to maintain a small subset of features as freemium features in order to enable growth wherever we could, without pushing it on anyone.
                        </div>


                    </div>
                </div>
            </article>
            <article class="content__item">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />
                <!--span class="category category--full">Microsoft</span-->
                <h2 class="title title--full">One Microsoft</h2>
                <div class="meta meta--full">

                    <span class="meta__author">Visual Identity</span>

                </div>
                <div class="portfolio-carousel" id="portfolio-msit">

                    <div class="portfolio-item">

                        <a class="portfolio-img-link" href="/img/3d-ux-assets-template-msit.jpg">
                            <div class="asset header-img"><img alt="One Microsoft" src="/img/3d-ux-assets-template-msit.jpg" />
                            </div>
                        </a>
                        <h3>Methods</h3>
                        <ul class="tools">
                            <li>Program Management</li>
                            <li>User and stakeholder interviews</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Usability testing</li>
                            <li>Photoshop/Illustrator</li>
                            <li>Workshops and Presentations</li>
                            <li>A/B Testing</li>
                        </ul>
                        <div class="details">
                            <h2>One Microsoft</h2>

                            <div class="description">
                            </div>


                        </div>
                    </div>



                    <div class="portfolio-item">
                        <h2>Style Guide Overview</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_06.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_06.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Guiding Principles</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Grid Foundation</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_09.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_09.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Metro Tiles Theme</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Metro Tiles Logos</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_14.jpg">
                            <div class="asset smaller-asset"><img src="../fall-13/portfolio/brand-internal_Page_14.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Getting rid of the logo soup</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Site Templates</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_17.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_17.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Metro for external sites</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-item">
                        <h2>SharePoint and Outlook</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_19.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_19.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Site templates and email signatures</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>
                    <div class="portfolio-item">
                        <h2>Outlook Templates</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_18.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_18.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Extending the brand to all communications</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>




                    <div class="portfolio-item">
                        <h2>Newsletters</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_20.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_20.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3></h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Headers</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_21.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_21.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Templated header variations</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Microsoft Connector Rebrand</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_22.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_22.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Yes, even the buses and shuttles</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Signage</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_23.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_23.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>One Microsoft everywhere</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>More Signage</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/brand-internal_Page_24.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/brand-internal_Page_24.jpg" alt="One Microsoft" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Around every corner</h3>
                            <div class="description">
                            </div>

                        </div>
                    </div>
                </div>
            </article>


            <article class="content__item">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />
                <!--span class="category category--full">Microsoft</span-->
                <h2 class="title title--full">MSW Redesign</h2>
                <div class="meta meta--full">

                    <span class="meta__author">UX Research, Design and Development</span>

                </div>
                <div class="portfolio-carousel" id="portfolio-msw">

                    <div class="portfolio-item">

                        <a class="portfolio-img-link" href="/img/3d-ux-assets-template-msw.jpg">
                            <div class="asset header-img"><img alt="MSW Redesign" src="../img/3d-ux-assets-template-msw.jpg" />
                            </div>
                        </a>
                        <div class="details">
                            <h2>MSW Redesign</h2>
                            <h3>Methods</h3>
                            <ul class="tools">
                                <li>User interviews</li>
                                <li>Cognitive walkthoughs</li>
                                <li>Contextual inquiries</li>
                                <li>Usability testing</li>
                                <li>Mockups</li>
                                <li>Wireframes/Flows</li>
                                <li>UAT Testing</li>
                                <li>Heuristic Evaluations</li>
                                <li>Accessibility conformance</li>
                                <li>Multivariate Analysis</li>
                                <li>Surveys/Questionnaires</li>
                            </ul>
                            <div class="description">
                                Year long redesign of Microsoft's internal news site MSW.
                            </div>



                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Homepage Wireframes</h2>
                        <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/7.png">
                            <div class="asset"><img src="../wp-content/uploads/2013/10/7.png" alt="7" width="1419" height="902" class="wp-image-194" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Final Annotated Wireframes</h3>
                            <div class="description">
                                Homepage wireframes.
                            </div>



                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Homepage</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/msw_home_total.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/msw_home_total.jpg" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Homepage Mockup</h3>
                            <div class="description">

                            </div>



                        </div>
                    </div>


                    <div class="portfolio-item">
                        <h2>Right Rail Modules</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/page-from-msw_module_guide.png">
                            <div class="asset"><img src="../fall-13/portfolio/page-from-msw_module_guide.png" alt="Module Guide" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Right Rail Iterations</h3>
                            <div class="description">
                                Module guide for right rail module iterations.
                            </div>



                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Center Modules</h2>
                        <a class="portfolio-img-link" href="../fall-13/portfolio/Pages-from-msw_module_guide-2.png">
                            <div class="asset"><img src="../fall-13/portfolio/Pages-from-msw_module_guide-2.png" alt="Module Guide" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Center Module Iterations</h3>
                            <div class="description">
                                Module guide for center module iterations
                            </div>



                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Center Modules</h2>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/Pages-from-msw_module_guide-3.png">
                            <div class="asset"><img src="../fall-13/portfolio/Pages-from-msw_module_guide-3.png" alt="Module Guide" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>More Center Module Iterations</h3>
                            <div class="description">
                                In these iterations we finalized the look and feel for the user centric center modules.
                            </div>



                        </div>
                    </div>

                    <!--div class="portfolio-item">
                                <a class="portfolio-img-link" href="/fall-13/portfolio/mymsw.png">
                                    <div class="asset"><img src="../fall-13/portfolio/mymsw.png" alt="Proposed MySite and MSW integration" />
                                    </div>
                                </a>
                                <div class="details">
                                    <h2>MSW Redesign</h2>
                                    <h3>MySite / MSW Main User Feed Exploration</h3>
                                    <div class="description">
                                        Exploration into a MySite and MSW integration. This is the Main User Feed page.
                                    </div>



                                </div>
                            </div-->

                    <div class="portfolio-item">
                        <h2>MySite / MSW Profile Exploration</h2>
                        <a class="portfolio-img-link" href="/fall-13/portfolio/my_profile-3-final.jpg">
                            <div class="asset"><img src="../fall-13/portfolio/my_profile-3-final.jpg" alt="Proposed MySite and MSW integration" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Exploring social features on MSW</h3>
                            <div class="description">
                                Exploration into a MySite and MSW integration. This is the profile page.
                            </div>



                        </div>
                    </div>

                    <div class="portfolio-item">
                        <h2>Search</h2>
                        <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/mswsearch-2.png">
                            <div class="asset"><img src="../wp-content/uploads/2013/10/mswsearch-2.png" alt="Enterprise Search" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>New Search Interface and Features</h3>
                            <div class="description">
                                Redesigned enterprise search with the same design elements as MSW. Added new faceted layout and federations along with new media and content types that we now supported. Microformats and schema where added to items in order to increase searchability and
                                portability of content objects alongside the metadata driven and FAST search implementations. As MySite came online, the proliferation of hashtags made its way to our designs so that we supported them in the same manner
                                as enterprise keywords, subject to company specific ontologies.
                            </div>


                        </div>
                    </div>

                    <!--div class="portfolio-item">

<a class="portfolio-img-link" href="../wp-content/uploads/2013/10/msw-search-community-1.png"><div class="asset"><img src="../wp-content/uploads/2013/10/msw-search-community-1.png" alt="msw-search-community-1" /></div></a>
<div class="details">
<h2>Next Generation Intranet</h2>
<h3>Community Search on MSW</h3>
<p>Once we were able to integrate a microblogging solution into SharePoint, we decided to surface up the content together with other external scopes such as email discussion lists, which were widely used, into a single cohesive SERP scope. Since both of results came from different sources, we had to ensure that the underlying metadata mapped across the enterprise so that we can interleave the results while pivoting on the user's interest and social graphs. therefore we developed a set of standards and boilerplates for further development around any activity streams / social cards / email content object models that could be used around the company.</p>

</div>
</div-->

                    <div class="portfolio-item">
                        <h2>Search Result Threading</h2>
                        <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/msw-search-community-redline.png">
                            <div class="asset"><img src="../wp-content/uploads/2013/10/msw-search-community-redline.png" alt="msw-search-community-redline" />
                            </div>
                        </a>
                        <div class="details">

                            <h3>Conversational results get threading for context</h3>
                            <div class="description">
                                Pinklines for new community search scope displaying the threading feature provided for contextual relevance. This was an incredibly critical feature as we decided to crawl and display all types of conversational results like distribution lists, forum
                                threads and our company wide activity stream. A good deal of mapping across all the meta data ensured that we ended up with a solid and intuitive solution.
                            </div>


                        </div>
                    </div>



                </div>
            </article>
            <article class="content__item">
                <img class="meta__avatar" src="img/ms-logo.png" alt="Microsoft" />
                <!--span class="category category--full">Microsoft</span-->
                <h2 class="title title--full">Social Enterprise</h2>
                <div class="meta meta--full">

                    <span class="meta__author">Program Management, UX Research, Design and Development</span>

                </div>

                <a class="portfolio-img-link">
                    <div class="asset header-social"><img src="img/header-social.jpg" alt="NGI" />
                    </div>
                </a>
                <h3>Methods</h3>
                <ul class="tools">
                    <li>User and Stakeholder interviews</li>
                    <li>Cognitive walkthoughs</li>
                    <li>Contextual inquiries</li>
                    <li>Usability testing</li>
                    <li>Photoshop/Illustrator</li>
                    <li>HTML/JS Prototyping</li>
                    <li>A/B Testing</li>
                    <li>Workshops and Presentations</li>
                </ul>
                <div class="portfolio-item">
                    <h2>MicroTalk</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/mt-laptop-1.png">
                        <div class="asset"><img src="../fall-13/portfolio/mt-laptop-1.png" alt="Microtalk" />
                        </div>
                    </a>
                    <div class="details">




                        <div class="description">
                            Volunteer project started in The Garage as an internal microblogging tool. Gained immediate acceptance and company wide usage enabling it to win the Science Fair at Microsoft that year. Lots of rich user data around usage, needs and frequency enabled
                            us to move forward as an Office Labs incubation project that would ultimately work its way across the enterprise and into our products and ultimately lead to the acquisition of Yammer.
                        </div>




                    </div>
                </div>


                <div class="portfolio-item">
                    <h2>Next Generation Intranet</h2>
                    <a class="portfolio-img-link" href="../fall-13/portfolio/MS_NGI_DesignPresentation_061410-6.png">
                        <div class="asset"><img src="../fall-13/portfolio/MS_NGI_DesignPresentation_061410-6.png" alt="NGI Presentation" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Presentation to MS Office Leadership</h3>
                        <div class="description">
                            The Next Generation Intranet Project (NGI) was created in order to bring all of our productivity applications together as the fist milestone in achieving the long term goal of a One Microsoft experience. This was a massive 2 year project that affected
                            all of the major internal portals and information systems in place as we moved towards a more user-centric information model in order to address company wide issues around navigation, findability, document governance, messaging,
                            tagging, ratings, web standards, accessibility, recommendation engines, taxonomy and branding.
                        </div>

                        <a class="portfolio-img-link" href="../fall-13/portfolio/MS_NGI_DesignPresentation_061410-7.png">
                            <div class="asset"><img src="../fall-13/portfolio/MS_NGI_DesignPresentation_061410-7.png" alt="NGI Presentation" />
                            </div>
                        </a>

                    </div>
                </div>

                <div class="portfolio-item">
                    <h2>MSIT &amp; Office Labs</h2>
                    <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/my-concept.png">
                        <div class="asset"><img src="../wp-content/uploads/2013/10/my-concept-1024x685.png" alt="my-concept" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Enterprise Trials</h3>
                        <div class="description">
                            As soon as Office Labs commenced incubation, I was given a new mandate and budget to fork the code and integrate across the enterprise with the rest of our productivity tools such as tagging, ratings and social search.
                        </div>



                    </div>
                </div>
                <div class="portfolio-item">
                    <h2>MySite Iteration tweaks</h2>
                    <a class="portfolio-img-link" href="../wp-content/uploads/2013/10/my-concept-1.png">
                        <div class="asset"><img src="../wp-content/uploads/2013/10/my-concept-1-1024x656.png" alt="my-concept-1" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Close, but not yet</h3>
                        <div class="description">Early dashboard mockups of MySite made in the very early days of Metro. Even though we did not go with this design, the Office team did something similar with the blue version in O365. </div>

                    </div>
                </div>




                <div class="portfolio-item">
                    <h2>Visual Identity</h2>
                    <a class="portfolio-img-link" href="/fall-13/portfolio/ngi1.png">
                        <div class="asset"><img src="../fall-13/portfolio/ngi1.png" alt="ngi-concept-1" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Defining the design guidelines</h3>
                        <div class="description">Design fundamentals deck used to present the project to all the org leads to get their buy in. </div>

                    </div>
                </div>


                <div class="portfolio-item">
                    <h2>MySite Dashboard</h2>
                    <a class="portfolio-img-link" href="/fall-13/portfolio/6.png">
                        <div class="asset"><img alt="MySite Concept Wireframe" src="../fall-13/portfolio/6.png" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>MySite Dashboard Wireframe</h3>
                        <div class="description">
                            Initial annotated wireframe based on early stakeholder interviews, requirements and concepts previously iterated on within our team.
                        </div>


                    </div>
                </div>







                <div class="portfolio-item">
                    <h2>Newer Iterations</h2>
                    <a class="portfolio-img-link" href="/fall-13/portfolio/ngi2.png">
                        <div class="asset"><img src="../fall-13/portfolio/ngi2.png" alt="ngi-concept-1" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>My Site Iteration</h3>
                        <p>Here is another bluesky design we did not go with, the Office team seems to have gone down a similar route in Office Online 2014. </p>

                    </div>
                </div>

                <div class="portfolio-item">
                    <h2>And more iterations</h2>
                    <a class="portfolio-img-link" href="/fall-13/portfolio/ngi3.png">
                        <div class="asset"><img src="../fall-13/portfolio/ngi3.png" alt="ngi-concept-1" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>My Site Iteration</h3>
                        <p>Here is another iteration of the previous bluesky design we did which we did not go with. </p>

                    </div>
                </div>
                <!--div class="portfolio-item">

<a class="portfolio-img-link" href="../wp-content/uploads/2013/10/my.png"><div class="asset"><img src="../wp-content/uploads/2013/10/my-931x1024.png" alt="my"  /></div></a>

<div class="details">
<h2>Next Generation Intranet</h2>
<h3>My Site Iteration</h3>
<p></p>

</div>
</div-->

                <div class="portfolio-item">
                    <h2>Final Iteration</h2>
                    <a class="portfolio-img-link" href="/fall-13/portfolio/my-homepage.png">
                        <div class="asset"><img src="../fall-13/portfolio/my-homepage.png" alt="my-draft" />
                        </div>
                    </a>
                    <div class="details">

                        <h3>Final My Site</h3>
                        <p>After months of card sorts, cognitive walkthroughs, surveys, interviews and user testing, this is the design we ended up with for beta. Eventually we launched it in 2010 and continued adding features all the way up until the time
                            our team started onboarding Yammer.</p>

                    </div>
                </div>
            </article>
        </div>
        <button class="trigger-2 page-close-button">
                    <svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">

                        <g class="icon--cross-page">
                            <line x1="4.5" y1="55.5" x2="54.953" y2="5.046" />
                            <line x1="54.953" y1="55.5" x2="4.5" y2="5.047" />
                        </g>
                    </svg><span>Close</span>
                </button>
    </section>
</div>