/* animation sets */

/* move from / to  */

.pt-page-moveToLeft {
  animation: moveToLeft 0.6s ease both;
  animation: moveToLeft 0.6s ease both;
}

.pt-page-moveFromLeft {
  animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both;
}

.pt-page-moveToRight {
  animation: moveToRight 0.6s ease both;
  animation: moveToRight 0.6s ease both;
}

.pt-page-moveFromRight {
  animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}

.pt-page-moveToTop {
  animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both;
}

.pt-page-moveFromTop {
  animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both;
}

.pt-page-moveToBottom {
  animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both;
}

.pt-page-moveFromBottom {
  animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both;
}

/* fade */

.pt-page-fade {
  animation: fade 0.7s ease both;
  animation: fade 0.7s ease both;
}

/* move from / to and fade */

.pt-page-moveToLeftFade {
  animation: moveToLeftFade 0.7s ease both;
  animation: moveToLeftFade 0.7s ease both;
}

.pt-page-moveFromLeftFade {
  animation: moveFromLeftFade 0.7s ease both;
  animation: moveFromLeftFade 0.7s ease both;
}

.pt-page-moveToRightFade {
  animation: moveToRightFade 0.7s ease both;
  animation: moveToRightFade 0.7s ease both;
}

.pt-page-moveFromRightFade {
  animation: moveFromRightFade 0.7s ease both;
  animation: moveFromRightFade 0.7s ease both;
}

.pt-page-moveToTopFade {
  animation: moveToTopFade 0.7s ease both;
  animation: moveToTopFade 0.7s ease both;
}

.pt-page-moveFromTopFade {
  animation: moveFromTopFade 0.7s ease both;
  animation: moveFromTopFade 0.7s ease both;
}

.pt-page-moveToBottomFade {
  animation: moveToBottomFade 0.7s ease both;
  animation: moveToBottomFade 0.7s ease both;
}

.pt-page-moveFromBottomFade {
  animation: moveFromBottomFade 0.7s ease both;
  animation: moveFromBottomFade 0.7s ease both;
}

/* move to with different easing */

.pt-page-moveToLeftEasing {
  animation: moveToLeft 0.7s ease-in-out both;
  animation: moveToLeft 0.7s ease-in-out both;
}

.pt-page-moveToRightEasing {
  animation: moveToRight 0.7s ease-in-out both;
  animation: moveToRight 0.7s ease-in-out both;
}

.pt-page-moveToTopEasing {
  animation: moveToTop 0.7s ease-in-out both;
  animation: moveToTop 0.7s ease-in-out both;
}

.pt-page-moveToBottomEasing {
  animation: moveToBottom 0.7s ease-in-out both;
  animation: moveToBottom 0.7s ease-in-out both;
}

/********************************* keyframes **************************************/

/* move from / to  */

@keyframes moveToLeft {
  to { transform: translateX(-100%); }
}

@keyframes moveToLeft {
  to { transform: translateX(-100%); }
}

@keyframes moveToLeft {
  to { transform: translateX(-100%); }
}

@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}

@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}

@keyframes moveFromLeft {
  from { transform: translateX(-100%); }
}

@keyframes moveToRight {
  to { transform: translateX(100%); }
}

@keyframes moveToRight {
  to { transform: translateX(100%); }
}

@keyframes moveToRight {
  to { transform: translateX(100%); }
}

@keyframes moveFromRight {
  from { transform: translateX(100%); }
}

@keyframes moveFromRight {
  from { transform: translateX(100%); }
}

@keyframes moveFromRight {
  from { transform: translateX(100%); }
}

@keyframes moveToTop {
  to { transform: translateY(-100%); }
}

@keyframes moveToTop {
  to { transform: translateY(-100%); }
}

@keyframes moveToTop {
  to { transform: translateY(-100%); }
}

@keyframes moveFromTop {
  from { transform: translateY(-100%); }
}

@keyframes moveFromTop {
  from { transform: translateY(-100%); }
}

@keyframes moveFromTop {
  from { transform: translateY(-100%); }
}

@keyframes moveToBottom {
  to { transform: translateY(100%); }
}

@keyframes moveToBottom {
  to { transform: translateY(100%); }
}

@keyframes moveToBottom {
  to { transform: translateY(100%); }
}

@keyframes moveFromBottom {
  from { transform: translateY(100%); }
}

@keyframes moveFromBottom {
  from { transform: translateY(100%); }
}

@keyframes moveFromBottom {
  from { transform: translateY(100%); }
}

/* fade */

@keyframes fade {
  to { opacity: 0.3; }
}

@keyframes fade {
  to { opacity: 0.3; }
}

@keyframes fade {
  to { opacity: 0.3; }
}

/* move from / to and fade */

@keyframes moveToLeftFade {
  to { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveToLeftFade {
  to { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveToLeftFade {
  to { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveFromLeftFade {
  from { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveFromLeftFade {
  from { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveFromLeftFade {
  from { opacity: 0.3; transform: translateX(-100%); }
}

@keyframes moveToRightFade {
  to { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveToRightFade {
  to { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveToRightFade {
  to { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveFromRightFade {
  from { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveFromRightFade {
  from { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveFromRightFade {
  from { opacity: 0.3; transform: translateX(100%); }
}

@keyframes moveToTopFade {
  to { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveToTopFade {
  to { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveToTopFade {
  to { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveFromTopFade {
  from { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveFromTopFade {
  from { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveFromTopFade {
  from { opacity: 0.3; transform: translateY(-100%); }
}

@keyframes moveToBottomFade {
  to { opacity: 0.3; transform: translateY(100%); }
}

@keyframes moveToBottomFade {
  to { opacity: 0.3; transform: translateY(100%); }
}

@keyframes moveToBottomFade {
  to { opacity: 0.3; transform: translateY(100%); }
}

@keyframes moveFromBottomFade {
  from { opacity: 0.3; transform: translateY(100%); }
}

@keyframes moveFromBottomFade {
  from { opacity: 0.3; transform: translateY(100%); }
}

@keyframes moveFromBottomFade {
  from { opacity: 0.3; transform: translateY(100%); }
}

/* scale and fade */

.pt-page-scaleDown {
  animation: scaleDown 0.7s ease both;
  animation: scaleDown 0.7s ease both;
}

.pt-page-scaleUp {
  animation: scaleUp 0.7s ease both;
  animation: scaleUp 0.7s ease both;
}

.pt-page-scaleUpDown {
  animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}

.pt-page-scaleDownUp {
  animation: scaleDownUp 0.5s ease both;
  animation: scaleDownUp 0.5s ease both;
}

.pt-page-scaleDownCenter {
  animation: scaleDownCenter 0.4s ease-in both;
  animation: scaleDownCenter 0.4s ease-in both;
}

.pt-page-scaleUpCenter {
  animation: scaleUpCenter 0.4s ease-out both;
  animation: scaleUpCenter 0.4s ease-out both;
}

/********************************* keyframes **************************************/

/* scale and fade */

@keyframes scaleDown {
  to { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleDown {
  to { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleDown {
  to { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleUp {
  from { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleUp {
  from { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleUp {
  from { opacity: 0; transform: scale(0.8); }
}

@keyframes scaleUpDown {
  from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleUpDown {
  from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleUpDown {
  from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
  to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
  to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
  to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
  to { opacity: 0; transform: scale(0.7); }
}

@keyframes scaleDownCenter {
  to { opacity: 0; transform: scale(0.7); }
}

@keyframes scaleDownCenter {
  to { opacity: 0; transform: scale(0.7); }
}

@keyframes scaleUpCenter {
  from { opacity: 0; transform: scale(0.7); }
}

@keyframes scaleUpCenter {
  from { opacity: 0; transform: scale(0.7); }
}

@keyframes scaleUpCenter {
  from { opacity: 0; transform: scale(0.7); }
}

/* rotate sides first and scale */

.pt-page-rotateRightSideFirst {
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.8s both ease-in;
  transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.8s both ease-in;
}

.pt-page-rotateLeftSideFirst {
  transform-origin: 100% 50%;
  animation: rotateLeftSideFirst 0.8s both ease-in;
  transform-origin: 100% 50%;
  animation: rotateLeftSideFirst 0.8s both ease-in;
}

.pt-page-rotateTopSideFirst {
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst 0.8s both ease-in;
  transform-origin: 50% 100%;
  animation: rotateTopSideFirst 0.8s both ease-in;
}

.pt-page-rotateBottomSideFirst {
  transform-origin: 50% 0%;
  animation: rotateBottomSideFirst 0.8s both ease-in;
  transform-origin: 50% 0%;
  animation: rotateBottomSideFirst 0.8s both ease-in;
}

/* flip */

.pt-page-flipOutRight {
  transform-origin: 50% 50%;
  animation: flipOutRight 0.5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutRight 0.5s both ease-in;
}

.pt-page-flipInLeft {
  transform-origin: 50% 50%;
  animation: flipInLeft 0.5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInLeft 0.5s both ease-out;
}

.pt-page-flipOutLeft {
  transform-origin: 50% 50%;
  animation: flipOutLeft 0.5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutLeft 0.5s both ease-in;
}

.pt-page-flipInRight {
  transform-origin: 50% 50%;
  animation: flipInRight 0.5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInRight 0.5s both ease-out;
}

.pt-page-flipOutTop {
  transform-origin: 50% 50%;
  animation: flipOutTop 0.5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutTop 0.5s both ease-in;
}

.pt-page-flipInBottom {
  transform-origin: 50% 50%;
  animation: flipInBottom 0.5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInBottom 0.5s both ease-out;
}

.pt-page-flipOutBottom {
  transform-origin: 50% 50%;
  animation: flipOutBottom 0.5s both ease-in;
  transform-origin: 50% 50%;
  animation: flipOutBottom 0.5s both ease-in;
}

.pt-page-flipInTop {
  transform-origin: 50% 50%;
  animation: flipInTop 0.5s both ease-out;
  transform-origin: 50% 50%;
  animation: flipInTop 0.5s both ease-out;
}

/* rotate fall */

.pt-page-rotateFall {
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}

/* rotate newspaper */
.pt-page-rotateOutNewspaper {
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper 0.5s both ease-in;
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper 0.5s both ease-in;
}

.pt-page-rotateInNewspaper {
  transform-origin: 50% 50%;
  animation: rotateInNewspaper 0.5s both ease-out;
  transform-origin: 50% 50%;
  animation: rotateInNewspaper 0.5s both ease-out;
}

/* push */
.pt-page-rotatePushLeft {
  transform-origin: 0% 50%;
  animation: rotatePushLeft 0.8s both ease;
  transform-origin: 0% 50%;
  animation: rotatePushLeft 0.8s both ease;
}

.pt-page-rotatePushRight {
  transform-origin: 100% 50%;
  animation: rotatePushRight 0.8s both ease;
  transform-origin: 100% 50%;
  animation: rotatePushRight 0.8s both ease;
}

.pt-page-rotatePushTop {
  transform-origin: 50% 0%;
  animation: rotatePushTop 0.8s both ease;
  transform-origin: 50% 0%;
  animation: rotatePushTop 0.8s both ease;
}

.pt-page-rotatePushBottom {
  transform-origin: 50% 100%;
  animation: rotatePushBottom 0.8s both ease;
  transform-origin: 50% 100%;
  animation: rotatePushBottom 0.8s both ease;
}

/* pull */
.pt-page-rotatePullRight {
  transform-origin: 100% 50%;
  animation: rotatePullRight 0.5s both ease;
  transform-origin: 100% 50%;
  animation: rotatePullRight 0.5s both ease;
}

.pt-page-rotatePullLeft {
  transform-origin: 0% 50%;
  animation: rotatePullLeft 0.5s both ease;
  transform-origin: 0% 50%;
  animation: rotatePullLeft 0.5s both ease;
}

.pt-page-rotatePullTop {
  transform-origin: 50% 0%;
  animation: rotatePullTop 0.5s both ease;
  transform-origin: 50% 0%;
  animation: rotatePullTop 0.5s both ease;
}

.pt-page-rotatePullBottom {
  transform-origin: 50% 100%;
  animation: rotatePullBottom 0.5s both ease;
  transform-origin: 50% 100%;
  animation: rotatePullBottom 0.5s both ease;
}

/* fold */
.pt-page-rotateFoldRight {
  transform-origin: 0% 50%;
  animation: rotateFoldRight 0.7s both ease;
  transform-origin: 0% 50%;
  animation: rotateFoldRight 0.7s both ease;
}

.pt-page-rotateFoldLeft {
  transform-origin: 100% 50%;
  animation: rotateFoldLeft 0.7s both ease;
  transform-origin: 100% 50%;
  animation: rotateFoldLeft 0.7s both ease;
}

.pt-page-rotateFoldTop {
  transform-origin: 50% 100%;
  animation: rotateFoldTop 0.7s both ease;
  transform-origin: 50% 100%;
  animation: rotateFoldTop 0.7s both ease;
}

.pt-page-rotateFoldBottom {
  transform-origin: 50% 0%;
  animation: rotateFoldBottom 0.7s both ease;
  transform-origin: 50% 0%;
  animation: rotateFoldBottom 0.7s both ease;
}

/* unfold */
.pt-page-rotateUnfoldLeft {
  transform-origin: 100% 50%;
  animation: rotateUnfoldLeft 0.7s both ease;
  transform-origin: 100% 50%;
  animation: rotateUnfoldLeft 0.7s both ease;
}

.pt-page-rotateUnfoldRight {
  transform-origin: 0% 50%;
  animation: rotateUnfoldRight 0.7s both ease;
  transform-origin: 0% 50%;
  animation: rotateUnfoldRight 0.7s both ease;
}

.pt-page-rotateUnfoldTop {
  transform-origin: 50% 100%;
  animation: rotateUnfoldTop 0.7s both ease;
  transform-origin: 50% 100%;
  animation: rotateUnfoldTop 0.7s both ease;
}

.pt-page-rotateUnfoldBottom {
  transform-origin: 50% 0%;
  animation: rotateUnfoldBottom 0.7s both ease;
  transform-origin: 50% 0%;
  animation: rotateUnfoldBottom 0.7s both ease;
}

/* room walls */
.pt-page-rotateRoomLeftOut {
  transform-origin: 100% 50%;
  animation: rotateRoomLeftOut 0.8s both ease;
  transform-origin: 100% 50%;
  animation: rotateRoomLeftOut 0.8s both ease;
}

.pt-page-rotateRoomLeftIn {
  transform-origin: 0% 50%;
  animation: rotateRoomLeftIn 0.8s both ease;
  transform-origin: 0% 50%;
  animation: rotateRoomLeftIn 0.8s both ease;
}

.pt-page-rotateRoomRightOut {
  transform-origin: 0% 50%;
  animation: rotateRoomRightOut 0.8s both ease;
  transform-origin: 0% 50%;
  animation: rotateRoomRightOut 0.8s both ease;
}

.pt-page-rotateRoomRightIn {
  transform-origin: 100% 50%;
  animation: rotateRoomRightIn 0.8s both ease;
  transform-origin: 100% 50%;
  animation: rotateRoomRightIn 0.8s both ease;
}

.pt-page-rotateRoomTopOut {
  transform-origin: 50% 100%;
  animation: rotateRoomTopOut 0.8s both ease;
  transform-origin: 50% 100%;
  animation: rotateRoomTopOut 0.8s both ease;
}

.pt-page-rotateRoomTopIn {
  transform-origin: 50% 0%;
  animation: rotateRoomTopIn 0.8s both ease;
  transform-origin: 50% 0%;
  animation: rotateRoomTopIn 0.8s both ease;
}

.pt-page-rotateRoomBottomOut {
  transform-origin: 50% 0%;
  animation: rotateRoomBottomOut 0.8s both ease;
  transform-origin: 50% 0%;
  animation: rotateRoomBottomOut 0.8s both ease;
}

.pt-page-rotateRoomBottomIn {
  transform-origin: 50% 100%;
  animation: rotateRoomBottomIn 0.8s both ease;
  transform-origin: 50% 100%;
  animation: rotateRoomBottomIn 0.8s both ease;
}

/* cube */
.pt-page-rotateCubeLeftOut {
  transform-origin: 100% 50%;
  animation: rotateCubeLeftOut 0.6s both ease-in;
  transform-origin: 100% 50%;
  animation: rotateCubeLeftOut 0.6s both ease-in;
}

.pt-page-rotateCubeLeftIn {
  transform-origin: 0% 50%;
  animation: rotateCubeLeftIn 0.6s both ease-in;
  transform-origin: 0% 50%;
  animation: rotateCubeLeftIn 0.6s both ease-in;
}

.pt-page-rotateCubeRightOut {
  transform-origin: 0% 50%;
  animation: rotateCubeRightOut 0.6s both ease-in;
  transform-origin: 0% 50%;
  animation: rotateCubeRightOut 0.6s both ease-in;
}

.pt-page-rotateCubeRightIn {
  transform-origin: 100% 50%;
  animation: rotateCubeRightIn 0.6s both ease-in;
  transform-origin: 100% 50%;
  animation: rotateCubeRightIn 0.6s both ease-in;
}

.pt-page-rotateCubeTopOut {
  transform-origin: 50% 100%;
  animation: rotateCubeTopOut 0.6s both ease-in;
  transform-origin: 50% 100%;
  animation: rotateCubeTopOut 0.6s both ease-in;
}

.pt-page-rotateCubeTopIn {
  transform-origin: 50% 0%;
  animation: rotateCubeTopIn 0.6s both ease-in;
  transform-origin: 50% 0%;
  animation: rotateCubeTopIn 0.6s both ease-in;
}

.pt-page-rotateCubeBottomOut {
  transform-origin: 50% 0%;
  animation: rotateCubeBottomOut 0.6s both ease-in;
  transform-origin: 50% 0%;
  animation: rotateCubeBottomOut 0.6s both ease-in;
}

.pt-page-rotateCubeBottomIn {
  transform-origin: 50% 100%;
  animation: rotateCubeBottomIn 0.6s both ease-in;
  transform-origin: 50% 100%;
  animation: rotateCubeBottomIn 0.6s both ease-in;
}

/* carousel */
.pt-page-rotateCarouselLeftOut {
  transform-origin: 100% 50%;
  animation: rotateCarouselLeftOut 0.8s both ease;
  transform-origin: 100% 50%;
  animation: rotateCarouselLeftOut 0.8s both ease;
}

.pt-page-rotateCarouselLeftIn {
  transform-origin: 0% 50%;
  animation: rotateCarouselLeftIn 0.8s both ease;
  transform-origin: 0% 50%;
  animation: rotateCarouselLeftIn 0.8s both ease;
}

.pt-page-rotateCarouselRightOut {
  transform-origin: 0% 50%;
  animation: rotateCarouselRightOut 0.8s both ease;
  transform-origin: 0% 50%;
  animation: rotateCarouselRightOut 0.8s both ease;
}

.pt-page-rotateCarouselRightIn {
  transform-origin: 100% 50%;
  animation: rotateCarouselRightIn 0.8s both ease;
  transform-origin: 100% 50%;
  animation: rotateCarouselRightIn 0.8s both ease;
}

.pt-page-rotateCarouselTopOut {
  transform-origin: 50% 100%;
  animation: rotateCarouselTopOut 0.8s both ease;
  transform-origin: 50% 100%;
  animation: rotateCarouselTopOut 0.8s both ease;
}

.pt-page-rotateCarouselTopIn {
  transform-origin: 50% 0%;
  animation: rotateCarouselTopIn 0.8s both ease;
  transform-origin: 50% 0%;
  animation: rotateCarouselTopIn 0.8s both ease;
}

.pt-page-rotateCarouselBottomOut {
  transform-origin: 50% 0%;
  animation: rotateCarouselBottomOut 0.8s both ease;
  transform-origin: 50% 0%;
  animation: rotateCarouselBottomOut 0.8s both ease;
}

.pt-page-rotateCarouselBottomIn {
  transform-origin: 50% 100%;
  animation: rotateCarouselBottomIn 0.8s both ease;
  transform-origin: 50% 100%;
  animation: rotateCarouselBottomIn 0.8s both ease;
}

/* sides */
.pt-page-rotateSidesOut {
  transform-origin: -50% 50%;
  animation: rotateSidesOut 0.5s both ease-in;
  transform-origin: -50% 50%;
  animation: rotateSidesOut 0.5s both ease-in;
}

.pt-page-rotateSidesIn {
  transform-origin: 150% 50%;
  animation: rotateSidesIn 0.5s both ease-out;
  transform-origin: 150% 50%;
  animation: rotateSidesIn 0.5s both ease-out;
}

/* slide */
.pt-page-rotateSlideOut {
  animation: rotateSlideOut 1s both ease;
  animation: rotateSlideOut 1s both ease;
}

.pt-page-rotateSlideIn {
  animation: rotateSlideIn 1s both ease;
  animation: rotateSlideIn 1s both ease;
}

/********************************* keyframes **************************************/

/* rotate sides first and scale */

@keyframes rotateRightSideFirst {
  40% { transform: rotateY(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateRightSideFirst {
  40% { transform: rotateY(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateRightSideFirst {
  40% { transform: rotateY(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateLeftSideFirst {
  40% { transform: rotateY(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateLeftSideFirst {
  40% { transform: rotateY(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateLeftSideFirst {
  40% { transform: rotateY(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateTopSideFirst {
  40% { transform: rotateX(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateTopSideFirst {
  40% { transform: rotateX(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateTopSideFirst {
  40% { transform: rotateX(15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateBottomSideFirst {
  40% { transform: rotateX(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateBottomSideFirst {
  40% { transform: rotateX(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

@keyframes rotateBottomSideFirst {
  40% { transform: rotateX(-15deg); opacity: 0.8; animation-timing-function: ease-out; }
  100% { transform: scale(0.8) translateZ(-200px); opacity: 0; }
}

/* flip */

@keyframes flipOutRight {
  to { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipOutRight {
  to { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipOutRight {
  to { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInLeft {
  from { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInLeft {
  from { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInLeft {
  from { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipOutLeft {
  to { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipOutLeft {
  to { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipOutLeft {
  to { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInRight {
  from { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInRight {
  from { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInRight {
  from { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipOutTop {
  to { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipOutTop {
  to { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipOutTop {
  to { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInBottom {
  from { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInBottom {
  from { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInBottom {
  from { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottom {
  to { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottom {
  to { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottom {
  to { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInTop {
  from { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInTop {
  from { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInTop {
  from { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

/* fall */

@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* newspaper */

@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

@keyframes rotateInNewspaper {
  from { transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}

@keyframes rotateInNewspaper {
  from { transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}

@keyframes rotateInNewspaper {
  from { transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
}

/* push */

@keyframes rotatePushLeft {
  to { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePushLeft {
  to { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePushLeft {
  to { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePushRight {
  to { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePushRight {
  to { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePushRight {
  to { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePushTop {
  to { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePushTop {
  to { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePushTop {
  to { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePushBottom {
  to { opacity: 0; transform: rotateX(90deg); }
}

@keyframes rotatePushBottom {
  to { opacity: 0; transform: rotateX(90deg); }
}

@keyframes rotatePushBottom {
  to { opacity: 0; transform: rotateX(90deg); }
}

/* pull */

@keyframes rotatePullRight {
  from { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePullRight {
  from { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePullRight {
  from { opacity: 0; transform: rotateY(-90deg); }
}

@keyframes rotatePullLeft {
  from { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePullLeft {
  from { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePullLeft {
  from { opacity: 0; transform: rotateY(90deg); }
}

@keyframes rotatePullTop {
  from { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePullTop {
  from { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePullTop {
  from { opacity: 0; transform: rotateX(-90deg); }
}

@keyframes rotatePullBottom {
  from { opacity: 0; transform: rotateX(90deg); }
}

@keyframes rotatePullBottom {
  from { opacity: 0; transform: rotateX(90deg); }
}

@keyframes rotatePullBottom {
  from { opacity: 0; transform: rotateX(90deg); }
}

/* fold */

@keyframes rotateFoldRight {
  to { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateFoldRight {
  to { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateFoldRight {
  to { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateFoldLeft {
  to { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateFoldLeft {
  to { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateFoldLeft {
  to { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateFoldTop {
  to { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateFoldTop {
  to { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateFoldTop {
  to { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateFoldBottom {
  to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateFoldBottom {
  to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateFoldBottom {
  to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

/* unfold */

@keyframes rotateUnfoldLeft {
  from { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateUnfoldLeft {
  from { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateUnfoldLeft {
  from { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateUnfoldRight {
  from { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateUnfoldRight {
  from { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateUnfoldRight {
  from { opacity: 0; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateUnfoldTop {
  from { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateUnfoldTop {
  from { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateUnfoldTop {
  from { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateUnfoldBottom {
  from { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateUnfoldBottom {
  from { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateUnfoldBottom {
  from { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
}

/* room walls */

@keyframes rotateRoomLeftOut {
  to { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomLeftOut {
  to { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomLeftOut {
  to { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomLeftIn {
  from { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomLeftIn {
  from { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomLeftIn {
  from { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomRightOut {
  to { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomRightOut {
  to { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomRightOut {
  to { opacity: 0.3; transform: translateX(100%) rotateY(-90deg); }
}

@keyframes rotateRoomRightIn {
  from { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomRightIn {
  from { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomRightIn {
  from { opacity: 0.3; transform: translateX(-100%) rotateY(90deg); }
}

@keyframes rotateRoomTopOut {
  to { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

@keyframes rotateRoomTopOut {
  to { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

@keyframes rotateRoomTopOut {
  to { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

@keyframes rotateRoomTopIn {
  from { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomTopIn {
  from { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomTopIn {
  from { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomBottomOut {
  to { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomBottomOut {
  to { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomBottomOut {
  to { opacity: 0.3; transform: translateY(100%) rotateX(90deg); }
}

@keyframes rotateRoomBottomIn {
  from { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

@keyframes rotateRoomBottomIn {
  from { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

@keyframes rotateRoomBottomIn {
  from { opacity: 0.3; transform: translateY(-100%) rotateX(-90deg); }
}

/* cube */

@keyframes rotateCubeLeftOut {
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateCubeLeftOut {
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateCubeLeftOut {
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes rotateCubeLeftIn {
  0% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}

@keyframes rotateCubeLeftIn {
  0% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}

@keyframes rotateCubeLeftIn {
  0% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}

@keyframes rotateCubeRightOut {
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
  100% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateCubeRightOut {
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
  100% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateCubeRightOut {
  50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
  100% { opacity: 0.3; transform: translateX(100%) rotateY(90deg); }
}

@keyframes rotateCubeRightIn {
  0% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
}

@keyframes rotateCubeRightIn {
  0% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
}

@keyframes rotateCubeRightIn {
  0% { opacity: 0.3; transform: translateX(-100%) rotateY(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
}

@keyframes rotateCubeTopOut {
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateCubeTopOut {
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateCubeTopOut {
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  100% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
}

@keyframes rotateCubeTopIn {
  0% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}

@keyframes rotateCubeTopIn {
  0% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}

@keyframes rotateCubeTopIn {
  0% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}

@keyframes rotateCubeBottomOut {
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateCubeBottomOut {
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateCubeBottomOut {
  50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
  100% { opacity: 0.3; transform: translateY(100%) rotateX(-90deg); }
}

@keyframes rotateCubeBottomIn {
  0% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
}

@keyframes rotateCubeBottomIn {
  0% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
}

@keyframes rotateCubeBottomIn {
  0% { opacity: 0.3; transform: translateY(-100%) rotateX(90deg); }
  50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
}

/* carousel */

@keyframes rotateCarouselLeftOut {
  to { opacity: 0.3; transform: translateX(-150%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselLeftOut {
  to { opacity: 0.3; transform: translateX(-150%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselLeftOut {
  to { opacity: 0.3; transform: translateX(-150%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselLeftIn {
  from { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselLeftIn {
  from { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselLeftIn {
  from { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselRightOut {
  to { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselRightOut {
  to { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselRightOut {
  to { opacity: 0.3; transform: translateX(200%) scale(0.4) rotateY(65deg); }
}

@keyframes rotateCarouselRightIn {
  from { opacity: 0.3; transform: translateX(-200%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselRightIn {
  from { opacity: 0.3; transform: translateX(-200%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselRightIn {
  from { opacity: 0.3; transform: translateX(-200%) scale(0.4) rotateY(-65deg); }
}

@keyframes rotateCarouselTopOut {
  to { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

@keyframes rotateCarouselTopOut {
  to { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

@keyframes rotateCarouselTopOut {
  to { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

@keyframes rotateCarouselTopIn {
  from { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselTopIn {
  from { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselTopIn {
  from { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselBottomOut {
  to { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselBottomOut {
  to { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselBottomOut {
  to { opacity: 0.3; transform: translateY(200%) scale(0.4) rotateX(-65deg); }
}

@keyframes rotateCarouselBottomIn {
  from { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

@keyframes rotateCarouselBottomIn {
  from { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

@keyframes rotateCarouselBottomIn {
  from { opacity: 0.3; transform: translateY(-200%) scale(0.4) rotateX(65deg); }
}

/* sides */

@keyframes rotateSidesOut {
  to { opacity: 0; transform: translateZ(-500px) rotateY(90deg); }
}

@keyframes rotateSidesOut {
  to { opacity: 0; transform: translateZ(-500px) rotateY(90deg); }
}

@keyframes rotateSidesOut {
  to { opacity: 0; transform: translateZ(-500px) rotateY(90deg); }
}

@keyframes rotateSidesIn {
  from { opacity: 0; transform: translateZ(-500px) rotateY(-90deg); }
}

@keyframes rotateSidesIn {
  from { opacity: 0; transform: translateZ(-500px) rotateY(-90deg); }
}

@keyframes rotateSidesIn {
  from { opacity: 0; transform: translateZ(-500px) rotateY(-90deg); }
}

/* slide */

@keyframes rotateSlideOut {
  25% { opacity: 0.5; transform: translateZ(-500px); }
  75% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes rotateSlideOut {
  25% { opacity: 0.5; transform: translateZ(-500px); }
  75% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes rotateSlideOut {
  25% { opacity: 0.5; transform: translateZ(-500px); }
  75% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes rotateSlideIn {
  0%,
  25% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: 0.5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

@keyframes rotateSlideIn {
  0%,
  25% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: 0.5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

@keyframes rotateSlideIn {
  0%,
  25% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: 0.5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

/* animation delay classes */

.pt-page-delay100 {
  animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.pt-page-delay180 {
  animation-delay: 0.18s;
  animation-delay: 0.18s;
}

.pt-page-delay200 {
  animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.pt-page-delay300 {
  animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.pt-page-delay400 {
  animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.pt-page-delay500 {
  animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.pt-page-delay700 {
  animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.pt-page-delay1000 {
  animation-delay: 1s;
  animation-delay: 1s;
}
