//---------- @mixins ----------//
@mixin box-shadow($val...) {
  box-shadow: ($val);
  box-shadow: ($val);
}

@mixin border-radius($val) {
  border-radius: ($val);
}

@mixin transition($val...) {
  transition: ($val);
  transition: ($val);
}

@mixin translateX($val...) {
  transform: translateX($val);
  transform: translateX($val);
  transform: translateX($val);
}

@mixin translateY($val...) {
  transform: translateY($val);
  transform: translateY($val);
  transform: translateY($val);
}

@mixin translate3d($val,$val2,$val3) {
  transform: translate3d($val, $val2, $val3);
  transform: translate3d($val, $val2, $val3);
  transform: translate3d($val, $val2, $val3);
}

@mixin rotate($val) {
  transform: rotate($val);
  transform: rotate($val);
  transform: rotate($val);
  transform: rotate($val);
}

@mixin scale($val) {
  transform: scale($val);
  transform: scale($val);
  transform: scale($val);
}

//---------- Blog Grid Item Size Builder ----------//
@function blog-grid-item-width($container, $columns, $margin) {
  @return floor( calc(( $container - ( $margin * ( $columns - 1 ) ) ) / $columns) );
}
