<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>MSW Redesign</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/msw/7.png');">

                    </div>

                    <div class="slide" style="background-image: url('images/projects/msw/0.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/1.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/2.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/5.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/4.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/3.png');">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Redesign of Microsoft's largest intranet site</h3>
        <p> MSW redesign utilizing MicroTalk and Metro branding.

        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>UX Design | Visual Design</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Research | Wireframes | Flows | Mockups</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Photoshop | SharePoint | Morae </li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>