<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>Next Generation Intranet</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">
                    <div class="slide" style="background-image: url('images/projects/ngi/mt-laptop-2.png')">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/ngi/6.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/7.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/8.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/1.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/2.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/3.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/4.png')">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/5.png')">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/9.png')">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/10.png')">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/ngi/11.png')">



                    </div>




                    <div class="slide" style="background-image: url('images/projects/ngi/12.png')">


                    </div>

















                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>MicroTalk and the Next Generation Intranet at Microsoft</h3>
        <p>Volunteer project started in The Garage as an internal microblogging tool. Gained immediate adoption enabling it to win the Science Fair at Microsoft that year. Lots of rich user data around usage, needs and frequency enabled us to move forward
            as an Office Labs incubation project that would ultimately work its way across the enterprise and into our products and ultimately lead to the acquisition of Yammer.
        </p>
        <p>The Next Generation Intranet Project (NGI) was created in order to bring all of our productivity applications together as the fist milestone in achieving the long term goal of a One Microsoft experience. This was a massive 2 year project that
            affected all of the major internal portals and information systems in place as we moved towards a more user-centric information model in order to address company wide issues around navigation, findability, document governance, messaging, tagging,
            ratings, web standards, accessibility, recommendation engines, taxonomy and branding.</p>
        </p>



        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>UX Design | Visual Design | Front-End Development</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> User Research | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Photoshop | SharePoint | HTML5 | JS | CSS3</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> <a href="https://www.bizjournals.com/seattle/blog/techflash/2010/03/microsofts_officetalk_experiment.html">Article 1</a> |
                <a href="http://www.zdnet.com/article/microsoft-moves-its-chatter-like-officetalk-toward-commercialization/">Article 2</a> | <a href="http://www.zdnet.com/article/microsoft-privately-testing-a-twitter-for-business-service/">Article 3</a></a>
            </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>