<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>servicenow</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">


        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/gigamon/1.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/gigamon/2.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/gigamon/3.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/gigamon/4.png');">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/gigamon/5.png');">


                    </div>





                    <div class="slide" style="background-image: url('images/projects/gigamon/2.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/gigamon/2.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/gigamon/2.png');">



                    </div>



                </div>
            </div>
        </div>

    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Network Visibility</h3>
        <p> Product redesign as a topology driven environment.
        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>UX Architect | Product Design Lead | User Research | Prototyping</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Wireframes | Flows | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Sketch | Angular | HTML5 | JS | CSS3 | D3</li>
            <li><span><i class="icon-line2-link"></i>Prototypes</span> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line" style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->


</div>
<section class="use-case col_five_fifth">
    <h3>Use Case </h3>

    <div class="fancy-title title-border clearfix">
        <h3 class="fancy-heading">Previous Design </h3>
    </div>
    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/2-Screens-servicenow-3.png" alt="">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Problem Definition</h4>
            <p> Topology was limited and fraught with usability and cognitive issues. Features were scattered around the site disparately not easily discoverable through the navigation or search. The current use of Cytoscape was also limiting the feature
                customization necessary to realize our goals.
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Centralizing all features within a topology centric environment would contextualize disparate activities more closely aligned to the users' mental models around systems design based on user research.

            </p>
            <div class="si-share clearfix">
                <span>Method</span>

            </div>
            <p>
                Mockups and D3 prototypes used for discovery and validation cognitive evaluations. Remote treejack tests were used for information architecture validation. Job stories were used to qualitate user needs.


            </p>
            <div class="si-share clearfix">
                <span>Result and next steps</span>

            </div>
            <p>
                Interation - Created physical topology-centric configuration system to satisfy wire/configure and configure/wire scenarios, based on needs analysis, with logical topologies for traffic flow configurations.


            </p>
        </div>
    </div>


    <div class="fancy-title title-border clearfix">
        <h3 class="fancy-heading">Iteration 1 </h3>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/giga-topology-v0-hero-3a.png" alt="">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Light themed drag and drop UI</h4>
            <p> Converted previous form based UI to a canvas workspace where actions were performed in situ in order to better highlight intent over configuration. Drag and drop / point and click interaction model was favored by the users in order to conform
                with currennt diagramming workflows in place.

            </p>
            <p>Recommended D3 for customizability and Angular Material to standardize common patterns in line with our branding and interaction model.</p>


            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Users will be able to perform all configuration actions contextually in line with their intent as opposed to a series of disparate steps across functional feature areas.
            </p>
            <div class="si-share clearfix">
                <span>Method</span>

            </div>
            <p>
                GV's Heart framework and job stories are used to determine the signals and metrics needed for for evaluatinng and exiting sprints by addressing goals in a quantitative manner through the use of prototypes.
            </p>
            <div class="si-share clearfix">
                <span>Result and next steps</span>

            </div>
            <p>
                Users performed all configuration actions contextually in line with their intent as opposed to a series of disparate steps across functional feature areas which required extensive domain and application knowledge. Logical diagrams and a darker theme to
                satisfy NetOps as well as SecOps environments.
            </p>
        </div>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/giga-topology-v0-hero-3b.png" alt="">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>In situ configuration</h4>
            <p>Contextual popups and modals resolved non linear and conditional flows previously scattered throughout the site.
            </p>

            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Contextually relevant, proximate popups and procedurally driven multi modal patterns would allow users to remain in place while setting up a diverse set of operations in as linea as manner as possible without needing extensive domain or app knowledge
                in an expedited manner.
            </p>

            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                Cognitive and usability evaluations via InVision and alpha prototypes. Open and closed remote card sorting and treejacking used for navigational validation.
            </p>

            <div class="si-share clearfix">
                <span>Results and next steps</span>

            </div>
            <p>
                The need for a logical representation of the traffic across the system topology became a critical view more in line with the users' intents. Visual distinction amongst panels and canvas needed to be more obvious and in line with our brand.
            </p>
        </div>
    </div>
    <!--div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/5b.png" alt="">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Dark theme</h4>
            <p> Dark themed version.
            </p>



            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                User Research | Wireframing | Mockups | Usability Testing
            </p>
        </div>
    </div-->

    <div class="fancy-title title-border topmargin">
        <h3 class="fancy-heading">Topology </h3>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/giga-topology-hero.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Iteration 2</h4>
            <p> Clearer visual distinction and contrast around panels and canvas elements more closely aligned with our brand colors.
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Users' cognitive load is decreased substantially due to clear delineations around UI components. Color contrast analysis is vastly improved.
            </p>

            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                Cognitive and usability evaluations via InVision and html prototypes.
            </p>



            <div class="si-share clearfix">
                <span>Results and next steps</span>

            </div>
            <p>
                Task success and time to completion improved.
            </p>
        </div>
    </div>

    <!--div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/v2-1.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Iteration 2</h4>
            <p> Added a flowmaps section for logical flows configured in the topology.
            </p>



            <div class="si-share clearfix">
                <span>Spec</span>

            </div>
        </div>
    </div>

    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/v2-2.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Iteration 2</h4>
            <p> Added a flowmaps section for logical flows configured in the topology.
            </p>



            <div class="si-share clearfix">
                <span>Spec</span>

            </div>
        </div>
    </div>

    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/v2-3.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Iteration 2</h4>
            <p> Added a flowmaps section for logical flows configured in the topology.
            </p>



            <div class="si-share clearfix">
                <span>Spec</span>

            </div>
        </div>
    </div>

    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/gigamon/v2-4.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Iteration 2</h4>
            <p> Added a flowmaps section for logical flows configured in the topology.
            </p>



            <div class="si-share clearfix">
                <span>Spec</span>

            </div>
        </div>
    </div-->
    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth nobottommargin" href="#">
            <img src="images/projects/gigamon/flowmap-v2.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Flowmaps</h4>
            <p> Added a flowmaps section for logical flows configured in the system topology.
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Separating physical topologies and logical flow maps will allow our users' mental models to better match their roles, task divisions, and their usage frequency by having all the operations contextual.
            </p>
            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                Cognitive and usability evaluations via D3 / Angular prototype.
            </p>

            <div class="si-share clearfix">
                <span>Results</span>

            </div>
            <p>
                Users can now complete their role based tasks in a manner that fits their intent instead of having to worry about the underlying system topology.
            </p>
        </div>
    </div>


</section>