<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>Mozilla</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <a href="#"><img src="images/projects/mozilla/1.png" alt=""></a>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>The Coral Project</h3>
        <p> The Coral Project, funded by The Knight Foundation/Mozilla in partnership with The New York Times/Washington Post, was formed to create open-source tools and resources for publishers of all sizes to build better communities around their journalism.

        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>Principal UX Lead | Visual Design | Front-End Development</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> User Research | Wireframes | Flows | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Sketch | HTML5 | JS | CSS3 | Optimal Workshop</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> <a href="https://coralproject.github.io/design/" target="_blank">Github Site</a> | <a href="https://github.com/CoralProject/design" target="_blank">Github</a></li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>