<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>Vevo</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/vevo/0.jpg');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/vevo/1.jpg');">


                    </div>


                    <div class="slide" style="background-image: url('images/projects/vevo/2.jpg');">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/vevo/3.jpg');">


                    </div>


                    <div class="slide" style="background-image: url('images/projects/vevo/5.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/vevo/9.png');">



                    </div>

                    <div class="slide" style="background-image: url('images/projects/vevo/10.png');">



                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Onboarding for retention</h3>
        <p>In order to unify the experience across all our devices we decided to do an expansive redesign with the explicit goal of increasing retention and relevance. </p>
        <p> The first time user experience for onboarding new users unto our recommendation engine and to prove out a hypothesis that would increase our engagement and retention by having users create playlists. This was based on quantitative behavioural
            observations and qualitative follow up interviews with some of those same users.</p>

        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>Interaction Design | Front-End Development</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Wireframes | Flows | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> User Testing | Sketch | HTML5 | JS | CSS3</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>