<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>CloudOn</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/cloudon/0.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/iphone-hifi-notifications.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/1.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/global-nav-new-drilldown-iPad.png');">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/cloudon/3.png');">


                    </div>





                    <div class="slide" style="background-image: url('images/projects/cloudon/People-Spaces.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/cloudon-web-2a.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/cloudon-web-3.png');">



                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Mobile Collaboration and Productivity</h3>
        <p> Product redesign across all devices and browsers utilizing a mobile first approach in order to focus our offerings and streamline our flows. The largest undertaking involved a navigation model restructuring to a drill down pattern based on results
            from usability tests, interviews and contextual inquiries.
        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>Product Design Lead | User Research | UX Design</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Wireframes | Flows | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Illustrator | Photoshop | HTML5 | JS | CSS3</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> <a href="./fall-13/prototypes/Co-editing/index.html" target="_blank">Prototype 1</a> | <a href="./fall-13/prototypes/DrillDown/tablet2.html" target="_blank">Prototype 2</a> | <a href="./proto-notif-co.html"
                    target="_blank">Prototype 3</a></li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>