<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>Splunk</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/fi/gp2.gif');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/1.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/2.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/3.png');">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/fi/4.png');">


                    </div>





                    <div class="slide" style="background-image: url('images/projects/fi/5.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/6.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/7.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/8.png');">



                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Early Material Design implementations for Google Partners</h3>
        <p> Prior to I/O event in the summer of 2014, Fantasy Interactive was tasked with redesigning a search portal using the still to be unveiled Material design guidelines.


        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>Interaction Design | Front-End Development</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Wireframes | Flows | Mockups | Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Illustrator | After Effects | HTML5 | JS | CSS3</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> <a href="http://angelcolberg.com/clients/fi/gps/prototype/" target="_blank">Prototype 1</a> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>