<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>One Microsoft</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">


                    <div class="slide" style="background-image: url('images/projects/onems/0.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/1.jpg');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/2.jpg');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/3.jpg');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/4.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/5a.png');">

                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/6.jpg');">

                    </div>

                    <div class="slide" style="background-image: url('images/projects/onems/7.jpg');">

                    </div>


                    <div class="slide" style="background-image: url('images/projects/onems/8.png');">

                    </div>

                    <div class="slide" style="background-image: url('images/projects/onems/9.jpg');">

                    </div>

                    <div class="slide" style="background-image: url('images/projects/onems/10.jpg');">

                    </div>

                    <div class="slide" style="background-image: url('images/projects/onems/11.jpg');">

                    </div>


                    <div class="slide" style="background-image: url('images/projects/onems/12.png');">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Revitalizing the Microsoft Visual Identity</h3>
        <p> Redesign of Microsoft's internal properties under a unified Metro design. New design, content and branding guidelines were created to help unify Microsoft under a new identity that aimed to help break down the internal silos and increase cohesion
            across the company. This project was at the tail end of other foundational projects like OfficeTalk and NGI, which laid the groundwork with a centralized information model, profile store and messaging framework.


        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Disciplines</span>Visual Design | Interaction Design</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span> Branding | Signage | Mockups | Logos</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Illustrator | Photoshop</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>