<div id="portfolio-ajax-single" class="clearfix">

    <div id="portfolio-ajax-title" style="position: relative;">
        <h2>Splunk</h2>
        <div id="portfolio-navigation">

            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
        </div>
    </div>

    <div class="line line-sm topmargin-sm"></div>

    <!-- Portfolio Single Image
    ============================================= -->
    <div class="col_three_fifth portfolio-single-image nobottommargin">
        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/splunk/rum-0.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-1.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-2.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-3.png');">


                    </div>

                    <div class="slide" style="background-image: url('images/projects/splunk/rum-4.png');">


                    </div>





                    <div class="slide" style="background-image: url('images/projects/splunk/rum-5.png');">


                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-6.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-7.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-8.png');">



                    </div>
                    <div class="slide" style="background-image: url('images/projects/splunk/rum-alt.png');">



                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- .portfolio-single-image end -->

    <!-- Portfolio Single Content
    ============================================= -->
    <div class="col_two_fifth portfolio-single-content col_last nobottommargin">

        <!-- Portfolio Single - Description
        ============================================= -->
        <h3>Splunk Observability Suite</h3>
        <p> These projects leverage Real User Monitoring (RUM) to capture actual user interactions, 
            Synthetic Monitoring to simulate traffic and proactively test performance, 
            and detailed Logs for debugging and auditing. Together, 
            these tools provide a comprehensive view of application health, ensuring optimal performance and a seamless user experience. 
            By combining real-time insights, proactive testing, and historical analysis, we can quickly identify and resolve issues, 
            maintaining high availability and user satisfaction.
        </p>


        <!-- Portfolio Single - Description End -->
        <div class="si-share clearfix">
            <span>Spec</span>

        </div>


        <!-- Portfolio Single - Meta
        ============================================= -->
        <ul class="portfolio-meta bottommargin topmargin">
            <li><span><i class="icon-line2-user"></i>Skills</span>Design Leadership | Product Design | Prototyping</li>
            <li><span><i class="icon-line2-notebook"></i>Methods</span>Cognitive Evals| Service maps | Mockups | Code Prototypes</li>
            <li><span><i class="icon-line2-screen-desktop"></i>Tools</span> Figma | FigJam | HTML5 | JS | CSS3</li>
            <li><span><i class="icon-line2-link"></i>Artifacts</span> <a href="https://codesandbox.io/s/2nkeu"" target="_blank">Prototype 1</a> | <a href="https://codesandbox.io/p/sandbox/peaceful-mccarthy-dk8mgp"" target="_blank">Prototype 2</a> </li>

        </ul>
        <!-- Portfolio Single - Meta End -->
        <div class="line " style="margin: 40px 0; "></div>


    </div>
    <!-- .portfolio-single-content end -->

</div>

<section class="use-case col_five_fifth">
    <h3>Use Case </h3>

    <div class="fancy-title title-border clearfix">
        <h3 class="fancy-heading">Real User Monitoring </h3>
    </div>
    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/splunk/rum-2.png" alt="RUM Landing">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Problem Definition</h4>
            <p> RUM problem definition TODO
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                TODO
            </p>
            <div class="si-share clearfix">
                <span>Method</span>

            </div>
            <p>
                TODO

            </p>
            <div class="si-share clearfix">
                <span>Result and next steps</span>

            </div>
            <p>
                TODO

            </p>
        </div>
    </div>


    <div class="fancy-title title-border clearfix">
        <h3 class="fancy-heading">Iteration 1 </h3>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/splunk/rum-3.png" alt="RUM Landing">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Dark themed</h4>
            <p> TODO

            </p>
            <p>TODO</p>


            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Users will be able to perform all configuration actions contextually in line with their 
                intent as opposed to a series of disparate steps across functional feature areas.
            </p>
            <div class="si-share clearfix">
                <span>Method</span>

            </div>
            <p>
                GV's Heart framework and job stories are used to determine the signals and metrics 
                needed for for evaluatinng and exiting sprints by addressing goals in a quantitative 
                manner through the use of prototypes.
            </p>
            <div class="si-share clearfix">
                <span>Result and next steps</span>

            </div>
            <p>
                Users performed all configuration actions contextually in line with their 
                intent as opposed to a series of disparate steps across functional feature areas 
                which required extensive domain and application knowledge. Logical diagrams and a darker theme to
                satisfy NetOps as well as SecOps environments.
            </p>
        </div>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/splunk/rum-0.png" alt="">

        </a>

        <div class="col_two_fifth col_last nobottommargin">
            <h4>Service node map</h4>
            <p>Patented Service node map allows for wide surface Visibility of issues across 
            </p>

            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Contextually relevant, proximate popups and procedurally driven multi modal 
                patterns would allow users to remain in place while setting up a diverse 
                set of operations in as linea as manner as possible without needing extensive 
                domain or app knowledge in an expedited manner.
            </p>

            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                Cognitive and usability evaluations via InVision and alpha prototypes. 
                Open and closed remote card sorting and treejacking used for navigational validation.
            </p>

            <div class="si-share clearfix">
                <span>Results and next steps</span>

            </div>
            <p>
                The need for a logical representation of the traffic across the system topology 
                became a critical view more in line with the users' intents. Visual distinction 
                amongst panels and canvas needed to be more obvious and in line with our brand.
            </p>
        </div>
    </div>
  


    <!-- // Scroll down content // -->
    <div class="fancy-title title-border topmargin">
        <h3 class="fancy-heading"> Title </h3>
    </div>
    <div class="clearfix col_five_fifth nobottommargin">
        <a class="col_three_fifth" href="#">
            <img src="images/projects/splunk/rum-4.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>User Path Analysis</h4>
            <p> Sankey chart for real user path analysis
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
               TODO
            </p>

            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                TODO
            </p>



            <div class="si-share clearfix">
                <span>Results and next steps</span>

            </div>
            <p>
                Task success and time to completion improved.
            </p>
        </div>
    </div>

    
    <div class="clearfix col_five_fifth">
        <a class="col_three_fifth nobottommargin" href="#">
            <img src="images/projects/splunk/rum-detail.png" alt=""></a>
        <div class="col_two_fifth col_last nobottommargin">
            <h4>Flowmaps</h4>
            <p> Added a flowmaps section for logical flows configured in the system topology.
            </p>



            <div class="si-share clearfix">
                <span>Hypothesis</span>

            </div>
            <p>
                Separating physical topologies and logical flow maps will allow our users' 
                mental models to better match their roles, task divisions, and their usage 
                frequency by having all the operations contextual.
            </p>
            <div class="si-share clearfix">
                <span>Methods</span>

            </div>
            <p>
                Cognitive and usability evaluations via D3 / Angular prototype.
            </p>

            <div class="si-share clearfix">
                <span>Results</span>

            </div>
            <p>
                Users can now complete their role based tasks in a manner that fits their 
                intent instead of having to worry about the underlying system topology.
            </p>
        </div>
    </div>


</section>