<div>
    <!-- Page Title
		============================================= -->
    <header id="page-title">

        <div class="container clearfix">
            <h1 style="float: right">Mobile Collaboration and Productivity</h1>

            <img src="images/logo/logos-projects-cloudon.png" alt="CloudOn">
        </div>

    </header>
    <!-- #page-title end -->

    <section id="slider" class="fslider slider-parallax swiper_wrapper clearfix">

        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">
                    <div class="slide" style="background-image: url('images/projects/cloudon/c0-hero-0.jpg');"></div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/co-mental-persona.png');">



                        <div class="slide-content container">


                            <div class="details">
                                <h2>Personas</h2>
                                <h3>Modelling our users</h3>
                                In order to be able to determine some of the personality traits and motivations of our users we created personas and mapped them to user stories that we could use to achieve our users' goals.
                            </div>



                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/global-nav-new-drilldown-iPad.png');">


                        <div class="slide-content container">


                            <div class="details">
                                <h2>Nav Model Redesign</h2>
                                <h3>Moving to a metadata driven information model</h3>
                                Findings through RITE gave us immediate visibility around the navigational challenges facing the users. At this point we started looking at other patterns that would be consistently effective across all device modalities and we found the drill down pattern
                                struck a chord with our users in initial walk throughs. At this point we worked our way up from the smartphone, to the tablet and finally to the web app through responsive prototypes that we used for validations at each
                                step.
                            </div>



                        </div>
                    </div>


                    <div class="slide" style="background-image: url('images/projects/cloudon/swimlanes.png');">


                        <div class="slide-content container">


                            <div class="details">
                                <h2>Cross Device Consistency</h2>
                                <h3>Maintaining cross device consistency</h3>
                                Cross device consistency was attained through the creation of parallel flows covering all entry points, in flows, out flows and respecting device specific idioms across scenarios with the help of personas and validated with prototypes in multi device
                                testing scenarios. These were done remotely and contextually.
                            </div>



                        </div>
                    </div>




                    <div class="slide" style="background-image: url('images/projects/cloudon/People-Spaces.png');">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>People Space</h2>
                                <h3>Adding Collaboration</h3>
                                Visualizing future feature areas was another concern early on that we approached through wireframes and cognitive walkthroughs before then diving in with html/js prototypes that we could then use for evaluation and testing. Through our content object
                                models, we already knew that we were going to need three distinct modalities for collaboration and production to take place, so we planned early on by experimenting with people, file and work space idioms.
                            </div>


                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/cloudon/flow-share-over-quota-shared-owner.png');">


                        <div class="slide-content container">


                            <div class="details">
                                <h2>Quality of Experience</h2>
                                <h3>Error flow</h3>
                                Quality was also a very critical area for us as we provided a virtualization and document management service to our users through their data providers which led to a multitude of scenarios we had to account for. From connectivity issues to cognitive temporal
                                issues, these scenarios required us to determine intent as accurately as possible and then respond with the correct affect through our voice and tone guidelines work that came out of our personas.
                            </div>


                        </div>
                    </div>


                    <div class="slide" style="background-image: url('images/projects/cloudon/iphone-hifi-notifications.png');">


                        <div class="slide-content container">


                            <div class="details">
                                <h2>Prototyping New Features</h2>
                                <h3>Notifications Mockup and Prototype</h3>
                                As we started adding more features across devices we found that prototyping them in html/js was the best way to experiment, test and communicate a particular interaction model and its rulesets.
                            </div>


                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/cloudon/cloudon-web-3.png');">


                        <div class="slide-content container">


                            <div class="details">
                                <h2>CloudOn Web</h2>
                                <h3>Closing the loop with Web</h3>
                                In order to have a friction less experience for our users across all devices we had to ensure that a desktop and mobile web existed so that non logged in users working on desktop could also work with those using our app. This was one of our main growth
                                strategies as we wanted to maintain a small subset of features as freemium features in order to enable growth wherever we could, without pushing it on anyone.
                            </div>


                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!-- .portfolio slider end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_full justified">


                    <h3>Redesigning a tablet application across all devices </h3>
                    <p>
                        As the Product Design Lead it was my primary responsibility to set up a more user centric design process and build a team in order to start tackling a major redesign of our tablet application across all devices.
                        <br> Initially, we needed to start creating task and UI analysis of the current features and map those to their user stories. Once we managed to articulate our current processes and features we were able to start measuring and
                        modelling them with various qualitative data points on hand. This gave us a good place from where we could start asking the right questions and in turn start bringing in users for testing and interviews.
                        <br> I decided to take a mobile first approach in order to focus our features and streamline our flows on our tablet device by constraining ourselves to both the device and rigid attention to feature validation by the users. We
                        immediately noticed that we had huge navigational and cognitive issues that required restructuring our navigation model to something like a drill down pattern based on multiple findings from usability tests, interviews and contextual
                        inquiries done with various prototypes.
                    </p>

                </div>



            </div>


            <div class="section dark nomargin">
                <div class="container clearfix">
                    <div class="heading-block center nomargin">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>

            <div class="container topmargin-lg clearfix">
                <div class="col_one_third">
                    <h4>Roles and Responsibilities</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>Design leadership</li>
                            <li>User research</li>
                            <li>Interaction design</li>
                            <li>Visual design</li>
                            <li>Development</li>

                        </ul>

                    </p>

                </div>

                <div class="col_one_third">
                    <h4>Methods</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>User interviews</li>
                            <li>User Stories</li>
                            <li>Task Analysis</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Mental modeling</li>
                            <li>Personas</li>

                            <li>Journey Map</li>
                            <li>HTML/JS Prototyping</li>
                            <li>RITE</li>
                            <li>Usability testing</li>
                            <li>A/B Testing</li>

                        </ul>
                    </p>
                </div>

                <div class="col_one_third col_last">
                    <h4>Tools</h4>
                    <p>
                        <ul class="bucketlist">

                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>SharePoint</li>
                            <li>PowerPoint</li>
                            <li>Morae</li>
                            <li>SPSS</li>
                        </ul>
                    </p>
                </div>



            </div>













        </div>

    </section>
    <!-- #content end -->
</div>