<div>
    <!-- Page Title
		============================================= -->
    <header id="page-title">

        <div class="container clearfix">
            <h1 style="float: right">Social Enterprise</h1>

            <img src="images/logo/ms-logo.png" alt="Microsoft">
        </div>

    </header>
    <!-- #page-title end -->

    <section id="slider" class="fslider slider-parallax swiper_wrapper clearfix">

        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">
                    <div class="slide" style="background-image: url('images/projects/ngi/mt-laptop-1.png')">


                        <div class="slide-content container">
                            <h2>MicroTalk</h2>



                            <div class="details">
                                Volunteer project started in The Garage as an internal microblogging tool. Gained immediate acceptance and company wide usage enabling it to win the Science Fair at Microsoft that year. Lots of rich user data around usage, needs and frequency enabled
                                us to move forward as an Office Labs incubation project that would ultimately work its way across the enterprise and into our products and ultimately lead to the acquisition of Yammer.
                            </div>




                        </div>
                    </div>


                    <div class="slide" style="background-image: url('images/projects/ngi/MS_NGI_DesignPresentation_061410-6.png')">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>Next Generation Intranet</h2>
                                <h3>Presentation to MS Office Leadership</h3>
                                <p>The Next Generation Intranet Project (NGI) was created in order to bring all of our productivity applications together as the fist milestone in achieving the long term goal of a One Microsoft experience. This was a massive
                                    2 year project that affected all of the major internal portals and information systems in place as we moved towards a more user-centric information model in order to address company wide issues around navigation, findability,
                                    document governance, messaging, tagging, ratings, web standards, accessibility, recommendation engines, taxonomy and branding.</p>
                            </div>


                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/ngi/MS_NGI_DesignPresentation_061410-7.png')">
                        <div class="slide-content container">

                            <div class="details">
                                <h3>NGI Presentation</h3>
                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('http://angelcolberg.com/wp-content/uploads/2013/10/my-concept.png')">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSIT &amp; Office Labs</h2>
                                <h3>Enterprise Trials</h3>
                                <p>As soon as Office Labs commenced incubation, I was given a new mandate and budget to fork the code and integrate across the enterprise with the rest of our productivity tools such as tagging, ratings and social search.
                                </p>
                            </div>



                        </div>
                    </div>
                    <div class="slide" style="background-image: url('http://angelcolberg.com/wp-content/uploads/2013/10/my-concept-1.png')">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>MySite Iteration tweaks</h2>
                                <h3>Close, but not yet</h3>
                                <p> Early dashboard mockups of MySite made in the very early days of Metro. Even though we did not go with this design, the Office team did something similar with the blue version in O365.
                                </p>
                            </div>

                        </div>
                    </div>




                    <div class="slide" style="background-image: url('images/projects/ngi/ngi1.png')">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>Visual Identity</h2>
                                <h3>Defining the design guidelines</h3>
                                <p>
                                    Design fundamentals deck used to present the project to all the org leads to get their buy in.
                                </p>
                            </div>

                        </div>
                    </div>


                    <div class="slide" style="background-image: url('images/projects/ngi/6.png')">


                        <div class="slide-content container">

                            <div class="details">
                                <h2>MySite Dashboard</h2>
                                <h3>MySite Dashboard Wireframe</h3>
                                <p>
                                    Initial annotated wireframe based on early stakeholder interviews, requirements and concepts previously iterated on within our team.
                                </p>
                            </div>


                        </div>
                    </div>







                    <div class="slide" style="background-image: url('images/projects/ngi/ngi2.png')">


                        <div class="slide-content container">
                            <div class="details">
                                <h2>Newer Iterations</h2>
                                <h3>My Site Iteration</h3>
                                <p>Here is another bluesky design we did not go with, the Office team seems to have gone down a similar route in Office Online 2014. </p>
                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/ngi/ngi3.png')">
                        <h2>And more iterations</h2>

                        <div class="slide-content container">

                            <h3>My Site Iteration</h3>
                            <p>Here is another iteration of the previous bluesky design we did which we did not go with. </p>

                        </div>
                    </div>


                    <div class="slide" style="background-image: url('images/projects/ngi/my-homepage.png')">


                        <div class="slide-content container">
                            <div class="details">
                                <h2>Final Iteration</h2>
                                <h3>Final My Site</h3>
                                <p>After months of card sorts, cognitive walkthroughs, surveys, interviews and user testing, this is the design we ended up with for beta. Eventually we launched it in 2010 and continued adding features all the way up until
                                    the time our team started onboarding Yammer.</p>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section>
    <!-- .portfolio slider end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_full justified">


                    <h3>Redesign of Microsoft's internal brands under a unified Metro driven design.</h3>
                    <p> New designs, content and branding guidelines were created to help unify Microsoft under a new identity that aimed to help break down the internal silos and increase cohesion across the company. This project was at the tail end of other
                        foundational projects like OfficeTalk and NGI, which laid the groundwork with a centralized information model, profile store and messaging framework.

                    </p>

                </div>



            </div>


            <div class="section dark nomargin">
                <div class="container clearfix">
                    <div class="heading-block center nomargin">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>

            <div class="container topmargin-lg clearfix">
                <div class="col_one_third">
                    <h4>Roles and Responsibilities</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>Design leadership</li>
                            <li>User research</li>
                            <li>Interaction design</li>
                            <li>Visual design</li>
                            <li>Development</li>

                        </ul>

                    </p>

                </div>

                <div class="col_one_third">
                    <h4>Methods</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>User and Stakeholder interviews</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Usability testing</li>
                            <li>Photoshop/Illustrator</li>
                            <li>HTML/JS Prototyping</li>
                            <li>A/B Testing</li>
                            <li>Workshops and Presentations</li>

                        </ul>
                    </p>
                </div>

                <div class="col_one_third col_last">
                    <h4>Tools</h4>
                    <p>
                        <ul class="bucketlist">

                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>SharePoint</li>
                            <li>PowerPoint</li>
                            <li>Morae</li>
                            <li>SPSS</li>
                        </ul>
                    </p>
                </div>



            </div>

















        </div>

    </section>
    <!-- #content end -->
</div>