<div>






    <!-- Page Title
		============================================= -->
    <header id="page-title">

        <div class=" container clearfix ">
            <h1 class="page-title-h1 ">Building a design team</h1>

            <img src="images/logo/logos-projects-unity.png " alt="Unity ">
        </div>

    </header>
    <!-- #page-title end -->
    <section id="slider1 " class="section swiper_wrapper full-screen  nopadding nomargin noborder ohidden" style="background-image: url( 'images/projects/unity/unity-small.png ');background-color: #000; background-size: auto;background-position: center center; background-repeat: no-repeat;">


        <div>

            <div class="container center ">
                <div class="vertical-middle hidden">

                    <div class="emphasis-title ">
                        <h1 class="t600 ls4 uppercase bottommargin-sm " style="font-size: 48px; ">Discover <span class="nocolor hidden-xs ">/</span> Create <span class="nocolor hidden-xs ">/</span> Design <span class="nocolor hidden-xs ">/</span> Publish</h1>
                        <p class="lead ">We are an Amazing bunch of Happy Creative People who Oozes Charm.</p>
                    </div>
                    <a href="# " class="button button-border button-light button-circle " data-scrollto="#section-contact " data-easing="easeInOutExpo " data-speed="1250 " data-offset="70 ">Get in Touch</a>

                </div>
            </div>

            <div class="video-wrap ">
                <div class="video-overlay " style="background: rgba(0,0,0,0.1); "></div>
            </div>

        </div>

    </section>
    <!-- #slider end -->
    <!--section id="slider " class="fslider slider-parallax swiper_wrapper clearfix ">

        <div class="fslider portfolio-slider ">
            <div class="flexslider slider-container slider-parallax ">
                <div class="slider-wrap ">
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-0.png '); ">
                        <div class="slide-content container ">
                            <div class="details ">

                                <h3>Task Based Flows</h3>
                                <div class="description ">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-1.png'); ">
                        <div class="slide-content container ">
                            <div class="details ">
                                <h3>Site Templates</h3>

                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-2.png'); ">
                        <div class="slide-content container ">
                            <div class="details ">
                                <h3>Email Templates</h3>

                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-3.png'); ">
                        <div class="slide-content container ">

                            <div class="details ">

                                <h3>SharePoint Templates</h3>
                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-4.png'); ">
                        <div class="slide-content container ">

                            <div class="details ">

                                <h3>Newsletter Templates</h3>
                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-5.png'); ">
                        <div class="slide-content container ">

                            <div class="details ">

                                <h3>Header Templates</h3>
                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-6.png'); ">
                        <div class="slide-content container ">

                            <div class="details ">

                                <h3>Campus Connector Buses</h3>
                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide " style="background-image: url( 'images/projects/unity/unity-hero-7.png'); ">
                        <div class="slide-content container ">

                            <div class="details ">

                                <h3>Campus Signage</h3>
                                <div class="description ">
                                </div>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section-->
    <!-- .portfolio slider end -->

    <!-- Content
		============================================= -->
    <section id="content ">

        <div class="content-wrap ">

            <div class="container clearfix ">

                <div class="col_full justified ">


                    <h3>Building a design team while unifying the experience across disparate services.</h3>
                    <p>

                    </p>




                </div>
                <div class="clear"></div>


                <div class="col_one_third ">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="images/projects/unity/unity-content-0.png" data-lightbox="iframe"><img class="image_fade" src="images/projects/unity/unity-content-0.png" alt="Featured Box Image"></a>
                        </div>
                        <div class="fbox-desc">
                            <h3>Design Team<span class="subtitle">Implementing roles and processes</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col_one_third ">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="#"><img class="image_fade" src="images/projects/unity/q4002a.png" alt="Featured Box Image"></a>
                        </div>
                        <div class="fbox-desc">
                            <h3>UI Library<span class="subtitle">Excepturi doloremque nemo aperiam</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col_one_third col_last ">
                    <div class="feature-box center media-box fbox-bg">
                        <div class="fbox-media">
                            <a href="#"><img class="image_fade" src="images/projects/unity/unity-hero-0.png" alt="Featured Box Image"></a>
                        </div>
                        <div class="fbox-desc">
                            <h3><span class="subtitle">Commodi quidem eum libero</span></h3>
                        </div>
                    </div>
                </div>




            </div>


            <div class="section dark nomargin ">
                <div class="container clearfix ">
                    <div class="heading-block center nomargin ">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>

            <div class="container topmargin-lg clearfix ">
                <div class="col_one_third ">
                    <h4>Roles and Responsibilities</h4>
                    <p>
                        <ul class="bucketlist ">
                            <li>Design leadership</li>
                            <li>User research</li>
                            <li>Interaction design</li>
                            <li>Visual design</li>
                            <li>Development</li>

                        </ul>

                    </p>

                </div>

                <div class="col_one_third ">
                    <h4>Methods</h4>
                    <p>
                        <ul class="bucketlist ">
                            <li>Surveys</li>
                            <li>User and stakeholder interviews</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Usability testing</li>
                            <li>Mood boards</li>
                            <li>Focus groups</li>

                        </ul>
                    </p>
                </div>

                <div class="col_one_third col_last ">
                    <h4>Tools</h4>
                    <p>
                        <ul class="bucketlist ">

                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>SharePoint</li>
                            <li>PowerPoint</li>
                            <li>Morae</li>
                            <li>SPSS</li>
                        </ul>
                    </p>
                </div>



            </div>

















        </div>

    </section>
    <!-- #content end -->
</div>