<div>
    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1 style="float: right">MSW Redesign</h1>

            <img src="images/logo/logos-projects-msw.png" alt="Microsoft Web">
        </div>

    </section>
    <!-- #page-title end -->

    <section id="slider" class="fslider slider-parallax swiper_wrapper clearfix">

        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">

                    <div class="slide" style="background-image: url('images/projects/msw/7.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Exploring social features on MSW</h3>
                                <div class="description">
                                    Exploration into a MySite and MSW integration. This is the profile page.
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/msw_home_total.jpg');">
                        <div class="slide-content container">
                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Exploring social features on MSW</h3>
                                <div class="description">
                                    Exploration into a MySite and MSW integration. This is the profile page.
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/page-from-msw_module_guide.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Exploring social features on MSW</h3>
                                <div class="description">
                                    Exploration into a MySite and MSW integration. This is the profile page.
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/Pages-from-msw_module_guide-2.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Exploring social features on MSW</h3>
                                <div class="description">
                                    Exploration into a MySite and MSW integration. This is the profile page.
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/Pages-from-msw_module_guide-3.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Exploring social features on MSW</h3>
                                <div class="description">
                                    Exploration into a MySite and MSW integration. This is the profile page.
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/my_profile-3-final.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Guiding Principles</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_09.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Grid</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_14.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Getting rid of the logo soup</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_17.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Metro for external sites</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_19.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>SharePoint Site templates and Outlook email signatures</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_18.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Extending the brand to all communications</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_20.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3></h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_21.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Template header variations</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_22.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Connector buses and shuttles</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_23.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>Signage</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/msw/brand-internal_Page_24.jpg');">
                        <div class="slide-content container">

                            <div class="details">
                                <h2>MSW</h2>
                                <h3>More Signage</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- .portfolio-single-image end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_half">

                    <h3>Methods</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum
                        possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!

                        <ul class="tools">
                            <li>Program Management</li>
                            <li>User and stakeholder interviews</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Usability testing</li>
                            <li>Photoshop/Illustrator</li>
                            <li>Workshops and Presentations</li>
                            <li>A/B Testing</li>
                        </ul>
                    </p>

                </div>

                <div class="col_half col_last">

                    <h3>Our Strategy</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum
                        possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>

                </div>

            </div>




            <div class="container topmargin-lg clearfix">

                <div class="col_one_third">
                    <h4>Case Study</h4>
                    <p>Expedita similique fuga quae voluptatibus molestiae amet rem, veniam nihil, magni quo odit ducimus ipsum suscipit ea aliquid alias cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur modi eos maiores.</p>
                </div>

                <div class="col_one_third">
                    <h4>Author Experience</h4>
                    <p>Hic corporis modi tempora eligendi ipsa, odit voluptatum cupiditate perferendis architecto repellat odio nam. Quas nesciunt voluptate, incidunt id dolorum corporis deleniti, sapiente a ipsam molestias accusantium.</p>
                </div>

                <div class="col_one_third col_last">
                    <h4>Like this Project?</h4>
                    <p>Take some time sharing this project for the well being of its development.</p>
                    <div class="si-share clearfix">
                        <span>Share:</span>
                        <div>
                            <a href="#" class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="section dark nomargin">
                <div class="container clearfix">
                    <div class="heading-block center nomargin">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>



            <div class="col-md-12 nopadding common-height ohidden">
                <div class="col-md-6 col-padding" style="background: url('images/projects/msw/brand-internal_Page_24.jpg') center center no-repeat; background-size: cover; height: 600px">
                    <div>&nbsp;</div>
                </div>
                <div class="col-md-6 col-padding">

                    <div class="clearfix">
                        <h3>Redesigned everything from the Scratch</h3>

                        <div class="col-sm-9 nopadding topmargin-sm clearfix">

                            <div class="feature-box fbox-outline fbox-light fbox-effect" data-animate="fadeIn">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-monitor"></i></a>
                                </div>
                                <h3>Responsive Layout</h3>
                                <p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                            </div>

                            <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="200">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-eye"></i></a>
                                </div>
                                <h3>Retina Ready Graphics</h3>
                                <p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
                            </div>

                            <div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="400">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-line-layers"></i></a>
                                </div>
                                <h3>Powerful Performance</h3>
                                <p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>





            <div class="portfolio-item oc-item">

                <a class="portfolio-img-link" href="images/projects/msw/3d-ux-assets-template-msw.jpg">
                    <div class="asset header-img"><img alt="MSW Redesign" src="images/projects/msw/3d-ux-assets-template-msw.jpg">
                    </div>
                </a>
                <div class="details">
                    <h2>MSW Redesign</h2>
                    <h3>Methods</h3>
                    <ul class="tools">
                        <li>User interviews</li>
                        <li>Cognitive walkthoughs</li>
                        <li>Contextual inquiries</li>
                        <li>Usability testing</li>
                        <li>Mockups</li>
                        <li>Wireframes/Flows</li>
                        <li>UAT Testing</li>
                        <li>Heuristic Evaluations</li>
                        <li>Accessibility conformance</li>
                        <li>Multivariate Analysis</li>
                        <li>Surveys/Questionnaires</li>
                    </ul>
                    <div class="description">
                        Year long redesign of Microsoft's internal news site MSW.
                    </div>



                </div>
            </div>

            <div class="portfolio-item oc-item">
                <h2>Homepage Wireframes</h2>
                <a class="portfolio-img-link" href="images/projects/msw/7.png">
                    <div class="asset"><img src="images/projects/msw/7.png" alt="7" width="1419" height="902" class="wp-image-194">
                    </div>
                </a>
                <div class="details">

                    <h3>Final Annotated Wireframes</h3>
                    <div class="description">
                        Homepage wireframes.
                    </div>



                </div>
            </div>

            <div class="portfolio-item oc-item">
                <h2>Homepage</h2>
                <a class="portfolio-img-link" href="images/projects/msw/msw_home_total.jpg">
                    <div class="asset"><img src="images/projects/msw/msw_home_total.jpg">
                    </div>
                </a>
                <div class="details">

                    <h3>Homepage Mockup</h3>
                    <div class="description">

                    </div>



                </div>
            </div>


            <div class="portfolio-item oc-item">
                <h2>Right Rail Modules</h2>
                <a class="portfolio-img-link" href="images/projects/msw/page-from-msw_module_guide.png">
                    <div class="asset"><img src="images/projects/msw/page-from-msw_module_guide.png" alt="Module Guide">
                    </div>
                </a>
                <div class="details">

                    <h3>Right Rail Iterations</h3>
                    <div class="description">
                        Module guide for right rail module iterations.
                    </div>



                </div>
            </div>

            <div class="portfolio-item oc-item">
                <h2>Center Modules</h2>
                <a class="portfolio-img-link" href="images/projects/msw/Pages-from-msw_module_guide-2.png">
                    <div class="asset"><img src="images/projects/msw/Pages-from-msw_module_guide-2.png" alt="Module Guide">
                    </div>
                </a>
                <div class="details">

                    <h3>Center Module Iterations</h3>
                    <div class="description">
                        Module guide for center module iterations
                    </div>



                </div>
            </div>

            <div class="portfolio-item oc-item">
                <h2>Center Modules</h2>
                <a class="portfolio-img-link" href="images/projects/msw/Pages-from-msw_module_guide-3.png">
                    <div class="asset"><img src="images/projects/msw/Pages-from-msw_module_guide-3.png" alt="Module Guide">
                    </div>
                </a>
                <div class="details">

                    <h3>More Center Module Iterations</h3>
                    <div class="description">
                        In these iterations we finalized the look and feel for the user centric center modules.
                    </div>



                </div>
            </div>

            <!--div class="portfolio-item oc-item">
                                <a class="portfolio-img-link" href="/fall-13/portfolio/mymsw.png">
                                    <div class="asset"><img src="../fall-13/portfolio/mymsw.png" alt="Proposed MySite and MSW integration" />
                                    </div>
                                </a>
                                <div class="details">
                                    <h2>MSW Redesign</h2>
                                    <h3>MySite / MSW Main User Feed Exploration</h3>
                                    <div class="description">
                                        Exploration into a MySite and MSW integration. This is the Main User Feed page.
                                    </div>



                                </div>
                            </div-->

            <div class="portfolio-item oc-item">
                <h2>MySite / MSW Profile Exploration</h2>
                <a class="portfolio-img-link" href="images/projects/msw/my_profile-3-final.jpg">
                    <div class="asset"><img src="images/projects/msw/my_profile-3-final.jpg" alt="Proposed MySite and MSW integration">
                    </div>
                </a>
                <div class="details">

                    <h3>Exploring social features on MSW</h3>
                    <div class="description">
                        Exploration into a MySite and MSW integration. This is the profile page.
                    </div>



                </div>
            </div>

            <div class="portfolio-item oc-item">
                <h2>Search</h2>
                <a class="portfolio-img-link" href="images/projects/msw/mswsearch-2.png">
                    <div class="asset"><img src="images/projects/msw/mswsearch-2.png" alt="Enterprise Search">
                    </div>
                </a>
                <div class="details">

                    <h3>New Search Interface and Features</h3>
                    <div class="description">
                        Redesigned enterprise search with the same design elements as MSW. Added new faceted layout and federations along with new media and content types that we now supported. Microformats and schema where added to items in order to increase searchability and
                        portability of content objects alongside the metadata driven and FAST search implementations. As MySite came online, the proliferation of hashtags made its way to our designs so that we supported them in the same manner as enterprise
                        keywords, subject to company specific ontologies.
                    </div>


                </div>
            </div>


            <div class="portfolio-item oc-item">
                <h2>Search Result Threading</h2>
                <a class="portfolio-img-link" href="images/projects/msw/msw-search-community-redline.png">
                    <div class="asset"><img src="images/projects/msw/msw-search-community-redline.png" alt="msw-search-community-redline">
                    </div>
                </a>
                <div class="details">

                    <h3>Conversational results get threading for context</h3>
                    <div class="description">
                        Pinklines for new community search scope displaying the threading feature provided for contextual relevance. This was an incredibly critical feature as we decided to crawl and display all types of conversational results like distribution lists, forum
                        threads and our company wide activity stream. A good deal of mapping across all the meta data ensured that we ended up with a solid and intuitive solution.
                    </div>


                </div>
            </div>





        </div>

    </section>
    <!-- #content end -->
</div>