<div>
    <!-- Page Title
		============================================= -->
    <header id="page-title">

        <div class="container clearfix">
            <h1 style="float: right">One Microsoft</h1>

            <img src="images/projects/onems/ms-logo.png" alt="Microsoft">
        </div>

    </header>
    <!-- #page-title end -->

    <section id="slider" class="fslider slider-parallax swiper_wrapper clearfix" style="height: 600px;">

        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">
                    <div class="slide" data-thumb="images/projects/onems/3d-ux-assets-template-msit.jpg" style="background-image: url('images/projects/onems/3d-ux-assets-template-msit.jpg ');"></div>

                    <div class="slide" data-thumb="images/projects/onems/3d-ux-assets-template-msit.jpg" style="background-image: url('images/projects/onems/onems-hero-1.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h3>Site Templates</h3>

                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-2.png');">
                        <div class="slide-content container">
                            <div class="details">
                                <h3>Email Templates</h3>

                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-3.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>SharePoint Templates</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-4.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>Newsletter Templates</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-5.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>Header Templates</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-6.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>Campus Connector Buses</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/onems/onems-hero-7.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>Campus Signage</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section>
    <!-- .portfolio slider end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_full justified">


                    <h3>Redesign of Microsoft's internal brands under a unified Metro driven design.</h3>
                    <p> New designs, content and branding guidelines were created to help unify Microsoft under a new identity that aimed to help break down the internal silos and increase cohesion across the company. This project was at the tail end of other
                        foundational projects like OfficeTalk and NGI, which laid the groundwork with a centralized information model, profile store and messaging framework.

                    </p>

                </div>



            </div>


            <div class="section dark nomargin">
                <div class="container clearfix">
                    <div class="heading-block center nomargin">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>

            <div class="container topmargin-lg clearfix">
                <div class="col_one_third">
                    <h4>Roles and Responsibilities</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>Design leadership</li>
                            <li>User research</li>
                            <li>Interaction design</li>
                            <li>Visual design</li>
                            <li>Development</li>

                        </ul>

                    </p>

                </div>

                <div class="col_one_third">
                    <h4>Methods</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>Surveys</li>
                            <li>User and stakeholder interviews</li>
                            <li>Cognitive walkthoughs</li>
                            <li>Contextual inquiries</li>
                            <li>Usability testing</li>
                            <li>Mood boards</li>
                            <li>Focus groups</li>

                        </ul>
                    </p>
                </div>

                <div class="col_one_third col_last">
                    <h4>Tools</h4>
                    <p>
                        <ul class="bucketlist">

                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>SharePoint</li>
                            <li>PowerPoint</li>
                            <li>Morae</li>
                            <li>SPSS</li>
                        </ul>
                    </p>
                </div>



            </div>

















        </div>

    </section>
    <!-- #content end -->
</div>