<style type="text/css">
    /* general style */
    
    .preview {
        width: 360px;
        height: 90px;
        position: absolute;
        top: 0;
        left: -90px;
        z-index: 100;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 0;
    }
    
    .preview img {
        position: absolute;
        left: 90px;
        top: 0;
        width: 90px;
    }
    
    .preview .alt {
        position: absolute;
        left: 180px;
        top: 0;
        background: #fff;
        width: 180px;
        height: 90px;
        color: #000;
        text-indent: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        line-height: 90px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
    /* next button */
    
    .flex-next .preview {
        right: -50px;
        left: auto;
    }
    
    .flex-next .preview img {
        position: absolute;
        left: 180px;
        top: 0;
        width: 90px;
    }
    
    .flex-next .preview .alt {
        left: 0;
    }
    /* hover style */
    
    .flex-prev:hover .preview {
        left: 0;
        opacity: 1;
    }
    
    .flex-next:hover .preview {
        right: 0;
        opacity: 1;
    }
</style>
<div>
    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1 style="float: right">Google Partner Search</h1>

            <img src="images/projects/fi/fi-logo.png" alt="Fantasy Interactive">
        </div>

    </section>
    <!-- #page-title end -->

    <section id="slider" class="fslider slider-parallax swiper_wrapper clearfix">

        <div class="fslider portfolio-slider">
            <div class="flexslider slider-container slider-parallax">
                <div class="slider-wrap">
                    <div class="slide" style="background-image: url('images/projects/fi/gp2.gif');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Task Based Flows</h3>
                                <div class="description">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_17.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Task Based Flows</h3>
                                <div class="description">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_02.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Task Based Flows</h3>
                                <div class="description">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_03.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>More distinct visual hierarchy</h3>
                                <div class="description">
                                    Compared to previous version, the SERP pattern here is uncluttered and was well received after UA validation.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_10.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Informational and actionable</h3>
                                <div class="description">
                                    All information at glance on this page is meant to help make a decision on which partner to pursue.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_13.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Task Based Flows</h3>
                                <div class="description">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_18.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">

                                <h3>Task Based Flows</h3>
                                <div class="description">
                                    In order to direct users to the right partners we needed to know their goals so that we could craft a guided flow that would help ensure that only the relevant partners were presented to the user.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_19.png');" title="icy Mountain" data-thumbnail="images/projects/fi/gp2.gif">
                        <div class="slide-content container">
                            <div class="details">
                                <h3>Variant</h3>

                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide" style="background-image: url('images/projects/fi/gps-visualdesign_Page_20.png');">
                        <div class="slide-content container">

                            <div class="details">

                                <h3>Variant</h3>
                                <div class="description">
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!-- .portfolio-single-image end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="col_full justified">


                    <h3>One of the first Material Design implementations on Google.com</h3>
                    <p> Prior to I/O event in 2014, Fantasy Interactive was tasked with creating a search portal using the still to be unveiled Material design guidelines.

                    </p>
                    <h3>Prototype</h3>
                    <div class="description">
                        <a href="http://angelcolberg.com/clients/fi/gps/prototype/" target="_blank">Here is a link to an HTML prototype for this project.</a>

                    </div>

                </div>



            </div>


            <div class="section dark nomargin">
                <div class="container clearfix">
                    <div class="heading-block center nomargin">
                        <h3>Process</h3>
                    </div>

                </div>
            </div>

            <div class="container topmargin-lg clearfix">
                <div class="col_one_third">
                    <h4>Roles and Responsibilities</h4>
                    <p>
                        <ul class="bucketlist">

                            <li>User research</li>
                            <li>Interaction design</li>
                            <li>Visual design</li>
                            <li>Development</li>

                        </ul>

                    </p>

                </div>

                <div class="col_one_third">
                    <h4>Methods</h4>
                    <p>
                        <ul class="bucketlist">
                            <li>Wireframing</li>
                            <li>Flows</li>
                            <li>Mockups</li>
                            <li>Prototyping</li>

                        </ul>
                    </p>
                </div>

                <div class="col_one_third col_last">
                    <h4>Tools</h4>
                    <p>
                        <ul class="bucketlist">

                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>After Effects</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>

                        </ul>
                    </p>
                </div>



            </div>

















        </div>

    </section>
    <!-- #content end -->
</div>